.tim-typo {
  padding-left: 25%;
  margin-bottom: 40px;
  position: relative;
  width: 100%;
}

.tim-typo .tim-note {
  bottom: 5px;
  color: #c0c1c2;
  display: block;
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  left: 0;
  margin-left: 20px;
  position: absolute;
  width: 260px;
}

/* offline-doc */

.offline-doc .navbar.navbar-transparent {
  padding-top: 25px;
  border-bottom: none;
}

.offline-doc .navbar.navbar-transparent .navbar-minimize {
  display: none;
}

.offline-doc .navbar.navbar-transparent .navbar-brand,
.offline-doc .navbar.navbar-transparent .collapse .navbar-nav .nav-link {
  color: #FFFFFF !important;
}

.offline-doc .footer {
  z-index: 3 !important;
}

.offline-doc .page-header .container {
  z-index: 3;
}

.offline-doc .page-header:after {
  background-color: rgba(0, 0, 0, 0.5);
  content: "";
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 2;
}

#map {
  z-index: 2;
  height: calc(100vh - 70px);
  margin-top: 70px;
}
.imglogo {
    width: 125px;
    height: 85px;
}
.datepicker-days table.table-condensed tr td {cursor: pointer;}
.modal-dialog {width: 690px;max-width: 700px;margin: 1.75rem auto;}.modal-body .login_bg.form_bg .row .col-md-6 {flex: 0 0 50%;max-width: 50%;float: left;display: block;}.modal-body .login_bg.form_bg .row.topcls .row.topcls {margin-bottom: 15px;}.modal-body .login_bg.form_bg .row.topcls .form-group.bmd-form-group {margin-top: 53px;}
.datepicker.datepicker-dropdown.dropdown-menu.datepicker-orient-left.datepicker-orient-top {opacity: 8;-webkit-transform: scale(1);transform: scale(1);width: 15%;padding: 15px;}.datepicker-days table.table-condensed {display: table;width: 100%;}table.table-condensed tr th, table.table-condensed tr td {text-align: center;}table.table-condensed tr th {color: #741d83;}table.table-condensed th.prev {background: #9c27b0;color: #ffffff !important;}table.table-condensed th.next {background: #9c27b0;color: #ffffff !important;}

.dropdown-item:hover{ 
  color: #fff !important;
}

.del_sec_mew {
    background: none;
    border: 0;
    text-align: left;
    padding-left: 2px;
}

.del_sec_mew:hover {
color: #fff !important;
}

/*marketing css*/
.card-body.marketing-mater .col-md-4 .col_media {
    text-align: center;
}
.card-body.marketing-mater .col-md-4 .col_media img.img-circle {
    width: 100% !important;
    padding-bottom: 6px;
}
.card-body.marketing-mater .col-md-4 .col_media {
    text-align: center;
    margin: 25px;
    padding: 7px;
    border: solid 1px #cccccc;
    border-radius: 8px;
}
.card-body.marketing-mater .col-md-4 .col_media a.btn.btn-primary {
    margin: 0px;
    width:100%;
}
/*end marketing css*/

.sidebar .nav {
    margin-top: 0px !important;
    display: block;
}

.sidebar-wrapper ul.nav li a.nav-link {
    margin: 0 15px;
    border-bottom: solid 1px #b4b4b44d !important;
    border-radius: 0px !important;
}
@media only screen and (max-width:1200px) {.card-body.marketing-mater .col-md-4 .col_media a.btn.btn-primary {margin: 0px;width: 100%;padding: 15px 0;text-align: center;}}@media only screen and (max-width:1195px) {.card-body.marketing-mater .col-md-4 .col_media {text-align: center;margin: 15px 0 0 0;}.card-body.marketing-mater .col-md-4 .col_media a.btn.btn-primary {margin: 0px;width: 100%;padding: 15px 10px;text-align: center;font-size: 14px;white-space: normal;}.card-body.marketing-mater .col-md-4 .col_media a.btn.btn-primary {margin: 0px;width: 100%;padding: 15px 0;text-align: center;}.card-body.marketing-mater .col-md-6 a.btn.btn-primary.btn-block {width: 100%;padding: 15px 10px;text-align: center;font-size: 14px;white-space: normal;}}@media only screen and (max-width:1095px) {.card-body.marketing-mater .col-md-4 .col_media a.btn.btn-primary {margin: 0px;width: 100%;padding: 15px 10px;text-align: center;font-size: 13px;white-space: normal;}.card-body.marketing-mater .col-md-4 .col_media a.btn.btn-primary {margin: 0px;width: 100%;padding: 15px 10px;text-align: center;font-size: 13px;white-space: normal;}}



/*========================================
   faq css here
==========================================*/
section.section-faq {
    background: #ffffff;
}
.col-head-area {
    margin-bottom: 50px;
}
h4.panel-title a {
    display: block;
    padding: 15px;
}
.panel-heading {
    color: #28163c !important;
    background-color: #e2dfdf !important;
    padding: 0px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}
.panel-title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 16px;
    color: inherit;
}
.panel {
    border: 1px solid #e2dfdf;
    border-radius: 0 !important;
    transition: box-shadow 0.5s;
}.panel-group .panel-heading + .panel-collapse > .panel-body, .panel-group .panel-heading + .panel-collapse > .list-group {
    border-top: 1px solid #ddd;
        border-top-color: rgb(221, 221, 221);
}