.sidebar-nav { background: #000033; border-top: 1px solid #001233; }
.col-md-3 {
    padding: 0;
}

nav.navbar.navbar-default.navbar-static-top {
    background: #00001a;
   
    margin-bottom: 0px;
}
.sidebar .list-sidenav a, .sett-sidenav a {
  color: #ffffff;
  display: block;
  font-family: aileron-semibold;
  font-size: 18px;
  line-height: 16px;
  padding: 35px 30px 35px 40px;
  text-decoration: none;
}
.sidebar .list-sidenav img, .sett-sidenav img {
  float: left;
  vertical-align: top;
  margin-right: 18px;
}
.sidebar .list-sidenav a:hover, .sett-sidenav a:hover {
  background: #00091a none repeat scroll 0 0;
}

ol, ul {
    list-style: none;
  }
  nav.navbar.navbar-default.navbar-static-top {
    padding-bottom: 0px;
    margin-bottom: 0;
}
nav.navbar.navbar-default.navbar-static-top {
    background: #00091a;
}
.navbar-default .navbar-brand {
    color: #fff;
    font-size: 39px;
    margin-top: 24px;
    margin-bottom: 25px;
    padding-left: 55px;
}
.headings th {
    margin-top: 7px;
    padding-top: 13px;
    padding-left: 10px;
    padding-bottom: 13px;
    font-size: 18px;
    color:#fff;
    text-align: center;


}
table thead{
	 background:  #00001a;
}
.tablesection td {
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 10px;
    text-align: center;
}
table.table-bordered.table-striped {
    width: 100%;
    margin-top: 31px;
}

.table-bordered.table-striped tbody tr:nth-child(odd) {
    background: #d2d2d2;
}
.table-bordered.table-striped tbody tr:nth-child(even) {
    background: #f2f2f2;
}
a.tablebtn {
    background: #00001a;
    padding-left: 18px;
    padding-right: 18px;
    padding-top: 3px;
    padding-bottom: 4px;
    color: #fff;
    border-radius: 5px;
}
button {
    background: #00001a;
    color: #fff;
    border: #00001a;
    padding-top: 2px;
    padding-bottom: 2px;
    border-radius: 5px;
    font-size: 14px;
}
.col-md-12.edittabledata {
    padding-top: 20px;
}
.form-control {
    margin-bottom: 10px !important;
}

.form-group {
    margin-bottom: 15px;
    float: left;
    width: 100%;
}