 <link href="https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&amp;subset=latin-ext" rel="stylesheet">
      body {
       padding-top: 0 !important;
       padding-bottom: 0 !important;
       padding-top: 0 !important;
       padding-bottom: 0 !important;
       margin:0 !important;
       width: 100% !important;
       -webkit-text-size-adjust: 100% !important;
       -ms-text-size-adjust: 100% !important;
       -webkit-font-smoothing: antialiased !important;
     }
     table.MainContainer.e-petalevent {
    font-family: 'Raleway', sans-serif;
    display: block;
    padding: 20px 0;
}
table.MainContainer.e-petalevent tbody {
    padding-bottom: 50px;
    display: block;
    width: 100%;
}
table.MainContainer.e-petalevent thead {
    display: block;
    width: 100%;
}
table.MainContainer tr
      {
     display: flex;
    width: 100%;
}
tr.col-foot {
    padding: 15px;
}
a.link1 {
    color: #e14143;
}
       td.col-12
       {
        width: 100%;
        display: block;
        float: left;
       }
   td.col-12.col-brand {
    background: #e14143;
    margin-bottom: 30px;
    padding: 15px;
}
span.heading {
    color: #e14143;
    font-size: 28px;
    font-weight: 500;
    letter-spacing: 1px;
    font-family: 'Raleway', sans-serif;
        padding: 15px 0;
    display: block;
}
 table.MainContainer tbody p {
    text-align: left;
    color: #999999;
    font-size: 14px;
    font-weight: normal;
    line-height: 19px;
}
 table.MainContainer tfoot {
    border-top: solid 1px #ccc !important;
        display: flex;
    margin: 25px 0;
    background: #f7f7f7;
}
tr.col-foot td.col-6 {
    width: 50%;
    display: block;
    float: left;
}
.col-foot p span {
    display: block;
}
.col-foot span.c-name {
    color: #e14143;
    font-size: 16px;
    padding-bottom: 15px;
    font-weight: 500;
}
.col-foot img {
    border: 0 !important;
    display: block !important;
    outline: none !important;
}
tr.col-foot td.col-6 table {
    padding: 40px 0;
}
tr.col-foot td.col-6 table img {
   margin-left: 15px;
}
tr.col-foot td.col-6 td.col-12 .contentEditable {
    display: inline-block;
}
td.col-6.col-social {
    text-align: right;
}
tr.col-foot td.col-6 p {
    text-align: left;
    color: #505050;
    font-size: 14px;
    font-weight: normal;
    line-height: 20px;
}
td.col-6.col-social tbody {
    padding: 0;
}
.copyright a {
    color: #e14143;
    padding: 0 10px;
    text-decoration: none;
}
