body{margin: 0px;padding: 0px;font-family: 'Questrial';position: relative;}
@font-face {
font-family: "Aileron-SemiBold";
src:url("../fonts/Aileron-SemiBold_0.otf");
}
a:hover , a:focus{text-decoration: none;outline: 0;}
.navigationbar {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: 0 none;
    box-shadow: none;
    position: relative;
    z-index: 99999 !important;
}
.navigationbar ul.navbar-nav{width: 100%;display: flex;-webkit-display:flex;display: -webkit-flex; /* Safari */
    -webkit-justify-content: center;justify-content: center; /* Safari 6.1+ */}
.navigationbar .nav.navbar-nav a {
    font-family: Poppins;
    font-size: 18px;
    padding: 20px 40px;color: #fff;
}
.navigationbar .nav.navbar-nav a:hover{color: #fff;}
.navigationbar .nav.navbar-nav li.logo a{font-weight: bold;}
.navigationbar .nav.navbar-nav li.active a{background: none;}
nav.navbar-default.navigationbar{margin-bottom: 0px;}
.carousel-control-next, .carousel-control-prev {
    align-items: center;
    bottom: 0;
    color: #fff;
    display: flex;
    justify-content: center;
    opacity: 0.5;
    position: absolute;
    text-align: center;
    top: 0;
    width: 4%;font-size: 35px;font-weight: bold;
}
.carousel-control-next:hover, .carousel-control-prev:hover{text-decoration: none;color: #fff;}
.carousel-control-next:focus, .carousel-control-prev:focus{outline: 0;}
.carousel-control-next {
    right: 0;
}
.carousel-control-prev {
    left: 0;
}
.carousel-caption {
    bottom: 20px;
    color: #fff;
    left: 15%;
    padding-bottom: 20px;
    padding-top: 20px;
    position: absolute;
    right: 15%;
    text-align: center;
    z-index: 10;
}
.carousel.slide.homeslider {
    float: left;
    margin-top: 0px;
    position: relative;
    width: 100%;
}
.navigationbar .nav.navbar-nav li.logo a {
    font-size: 24px;
}
.homeslider .carousel-caption {
    bottom: 0 !important;
    left: 50px;
    top: 30%;
}
.carousel-bg .slide_text {
    bottom: 0 !important;
    padding: 130px 0px;
}
.carousel-bg .carousel-indicators{left: 52%;}
.slide_text h1 {
    font-size: 7rem;
    font-weight: 300;
    text-align: center;
    text-shadow: none;text-transform: capitalize !important;
}
.booknow_btn > a {
    background: #fff none repeat scroll 0 0;
    padding: 10px 30px;
    text-shadow: none;
}
.booknow_btn {
    float: none; text-align: center;
    margin-top: 20px;
}
.booknow_btn > a {
    background: #fff none repeat scroll 0 0;
    
    color: #808284;
    font-size: 20px;
    padding: 10px 30px;
    text-shadow: none;
}
.booknow_btn > a:hover{background: #808284;color: #fff;text-decoration: none;}
.section_mdiv {
    float: left;
    padding: 80px 0;
    width: 100%;
}
.section_content h2 {
    color: #808284;
    font-size: 33px;
    font-weight: 100;margin-top: 0px;
}
.section_content p {
    font-size: 16px;
    margin: 10px 0;
}
.occasion_img > img {
    border-radius: 0px;
    height: 250px;
    object-fit: cover;
    width: 100%;
}
.occasion_div {
    margin-bottom: 15px;
    padding: 0 6px;
}
.occasion_img h3 {
    bottom: 24px;
    color: #fff;
    font-size: 20px;
    font-weight: 100;
    position: absolute;
    text-align: center;
    width: 100%;
}
.occasion_img {
    position: relative;
}
.occasion_sec {
    padding-top: 30px;
}
.seemore_btn a{background-image: -webkit-linear-gradient(top, #808284, #414345); 
background-image:    -moz-linear-gradient(top, #808284, #414345); 
background-image:     -ms-linear-gradient(top, #808284, #414345); 
background-image:      -o-linear-gradient(top, #808284, #414345); 
background-image:         linear-gradient(top, #808284, #414345);   border-radius: 5px;
    color: #fff;
    font-size: 20px;
    padding: 10px 40px;}
    .seemore_btn a:hover{text-decoration: none;background-image: -webkit-linear-gradient(top, #fb6171 ,#fd8171); 
background-image:    -moz-linear-gradient(top,#414345 ,#808284); 
background-image:     -ms-linear-gradient(top, #414345 ,#808284); 
background-image:      -o-linear-gradient(top,#414345 ,#808284); 
background-image:         linear-gradient(top, #414345 ,#808284); }
.seemore_btn {
    float: left;
    margin-top: 50px;
    width: 100%;
}
.section2.section_mdiv {
    background-image: url("../images/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.section1.section_mdiv {
    background: rgba(0, 0, 0, 0) url("../images/occasion_bg.jpg") repeat scroll 0 0 / cover ;background-position: right;
     padding: 80px 0 100px;
}
.appdownload a {
    /*background: rgba(0, 0, 0, 0) url("../images/appdownloadicon.png") no-repeat scroll left center;
    content: "";*/
   /* padding-left: 50px;background-size: contain;*/
}
.book a {
    background: rgba(0, 0, 0, 0) url("../images/bookicon.png") no-repeat scroll left center;
    content: "";
    padding-left: 50px;background-size: contain;
}
.shoot a {
    background: rgba(0, 0, 0, 0) url("../images/camera.png") no-repeat scroll left center;
    content: "";
    padding-left: 50px;background-size: contain;
}
.download a {
    background: rgba(0, 0, 0, 0) url("../images/downloadicon.png") no-repeat scroll left center;
    content: "";
    padding-left: 50px;background-size: contain;
}
.howitwork_text .panel-group {
    margin-top: 90px;
}
.howitwork_text .panel-heading {
    background: #fff none repeat scroll 0 0;
    border: 0 none;
    box-shadow: none;
}
.homeslider .item {
  height: 100vh;
  min-height: 300px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;position: relative;
}
.howitwork_text .panel-heading {
    background: #fff none repeat scroll 0 0;
    border: 0 none;
    box-shadow: none;
    padding: 0px 0;
}
.howitwork_text .panel-title {
    padding: 5px 0px 5px 50px;
    text-align: left;
    font-size: 20px;
    margin-left: 22px;
}
.howitwork_text #accordion .panel-default  .panel-body{border: 0px;}
.howitwork_text #accordion .panel.panel-default {
    border: 0 none;
    box-shadow: 2px 3px 14px 0 rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
    padding: 30px 0; border-radius: 0;
}
.howitwork_text .panel-body {
    font-size: 16px;
    line-height: 28px;
    padding-left: 70px;
    padding-right: 30px;
    text-align: left;  padding-bottom: 0;
}
.videodiv{padding-left: 0px;}
.disp_aline {display: flex;
    flex-wrap: wrap;
    align-items: center;}
.disp_aline h2 {margin:0px;}
.videotext > h2 {
    color: #414345;
    font-size: 33px;margin-top: 40px;
}
.videotext {
    padding-left: 30px;
    padding-right: 60px;
}
.videotext > p {
    color: #5a5a5a;
    font-size: 18px;
    line-height: 35px;
    margin-top: 30px;
}
.bloginfo span {
    color: #adacac;
    font-family: Aileron-SemiBold;
    font-size: 13px;
}
.bloginfo {
    margin-top: 10px;
}
.blog_content > h4 {
    color: #414345;
    font-family: Aileron-SemiBold;
    text-align: left;
    text-transform: uppercase;
}
.blog_content > p {
    color: #939393;
    font-family: Poppins;
    font-size: 14px;
    line-height: 27px;
    text-align: left;
}
.blogbtn a{background-image: -webkit-linear-gradient(top, #808284, #414345); 
background-image:    -moz-linear-gradient(top, #808284, #414345); 
background-image:     -ms-linear-gradient(top, #808284, #414345); 
background-image:      -o-linear-gradient(top, #808284, #414345); 
background-image:         linear-gradient(top, #808284, #414345); 
    /*border-radius: 40px;*/
    color: #fff;
    font-family: Aileron-SemiBold;
    font-size: 13px;
    letter-spacing: 1px;
    padding: 11px 20px;
    display: inline-block;
}
.blogicon i {
    color: #939393;
    font-size: 20px;
    margin: 0 0 0 13px;
}
.section5.section_mdiv {
    /*background: rgba(0, 0, 0, 0) url("../images/bg1.jpg") no-repeat scroll 0 0 / cover ;*/
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.comingsoon_content h1 {
    color: #fff;
    font-size: 50px;
    font-weight: normal;
}
.comingsoon_content p {
    color: #fff;
    font-size: 24px;
}
.comingsoon_btn > a {
    border: 2px solid #fff;
    border-radius: 30px;
    color: #fff;
    float: left;
    margin: 0 8px;
    padding: 15px 30px;
}
.comingsoon_btn i {
    float: left;
    font-size: 26px;
    margin-right: 10px;
}
.comingsoon_btn span {
    float: left;
    line-height: 24px;  font-size: 24px;
}
.comingsoon_btn{display: flex;-webkit-display:flex;display: -webkit-flex;-webkit-justify-content: center;justify-content: center;   margin-top: 40px;}
.footer_sec > h3 {
    color: #808284;
    font-size: 24px;
    text-transform: uppercase;
}
.footer_sec > ul {
    list-style: outside none none;
    padding: 0;
}
.footer_sec ul li a i {
    background: #808284 none repeat scroll 0 0;
    border-radius: 30px;
    color: #fff;
    float: left;
    font-size: 16px;
    height: 35px;
    margin-right: 10px;
    padding-top: 9px;
    text-align: center;
    width: 35px;
}
.footer_sec ul li a{float: left;width: 100%;}
.footer_sec span {
    color: #232323;
    float: left;
    font-size: 15px;
    overflow-wrap: break-word;
    padding-top: 2px;
    width: calc(100% - 45px);
}
.footer_sec a {
    color: #232323;
    font-size: 15px;
}
.footer_sec li {
    float: left;
    margin-top: 10px;
    width: 100%;
}
.newsletter_form input {
    border: 1px solid #808284;
    height: 50px;
    margin-bottom:15px;
}
.newsletter_form button.btn.btn-default{background-image: -webkit-linear-gradient(top, #808284, #414345); 
background-image:    -moz-linear-gradient(top, #808284, #414345); 
background-image:     -ms-linear-gradient(top, #808284, #414345); 
background-image:      -o-linear-gradient(top, #808284, #414345); 
background-image:         linear-gradient(top, #808284, #414345); border: 0 none;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    padding: 10px 0;
    text-transform: uppercase;
    width: 100%; }
.footer_sec .instagram_imges li {
    float: left;
    list-style: outside none none;
    margin: 0 10px;
    width: 33%;
}
.instagram_imges > ul {
    padding: 0;
}
.footer_sec .instagram_imges li {
    float: left;
    list-style: outside none none;
    margin: 0 23px 0 0;
    width: 24%;
}
.footer_socialicons i {
    border: 1px solid #666666;
    border-radius: 30px;
    color: #666666;
    height: 40px;
    margin: 0 2px;
    padding-top: 13px;
    text-align: center;
    width: 40px;
}
.footer_socialicons > ul {
    list-style: outside none none;
    padding: 0;margin-bottom: 0px;
}
.footer_socialicons li {
    display: inline;
}
.footer_socialicons {
    border-top: 2px solid #ebebeb;
    float: left;
    margin-top: 20px;
    padding: 15px 0;
    text-align: center;
    width: 100%;
}
.footer_socialicons i:hover{background:#666666;color: #fff;border: 1px solid #666666;}
/*.blog_sec {
    margin-top: 15px;
}*/
.collapse_div .panel-title a:focus{outline: 0;text-decoration: none;}
.collapse_div .panel-title a:hover{text-decoration: none;}
.navbar-default.navigationbar {
    background: #434547 none repeat scroll 0 0;
    border: 0 none;
    border-radius: 0;
    box-shadow: none;
}
.section4.section_mdiv {
    background: #f5f5f5 none repeat scroll 0 0;
}
.form_bg {
    background: #f8f8f8 none repeat scroll 0 0;
    border: 1px solid #efefef;
    float: left;
    padding: 10px 120px;
    width: 100%;  margin-top: 50px;
}
.login_header h1 {
    font-family: Poppins;
    font-size: 50px;
    letter-spacing: 2px;
    margin: 0;
    padding: 20px 0;
    text-align: center;
}
.form_bg > h1 {
    color: #434547;
    font-size: 42px;
    text-align: center;
    text-transform: uppercase;margin-top: 0px;
}
.formarea .form-group label {
    color: #5c5c5c;
    font-size: 15px;
}
.formarea input.form-control {
    border: 1px solid #e2e2e2;
    border-radius: 4px;
    box-shadow: none;
    height: 50px;color:#afafaf;font-size: 16px;
}
.formarea textarea{
    border: 1px solid #e2e2e2;
    border-radius: 4px;
    box-shadow: none;width: 100%;
   color:#afafaf;font-size: 16px;padding: 10px;
}
.formarea select.form-control {
    border: 1px solid #e2e2e2;
    border-radius: 4px;
    box-shadow: none;  background-image: url("../images/dropdownicon.png");background-repeat: no-repeat;background-position: 98%;
    background-color: #fff;
    height: 50px;color:#afafaf;font-size: 16px;-moz-appearance:none;-webkit-appearance:none;
}
.formarea textarea.form-control{border: 1px solid #e2e2e2;
    border-radius: 4px;
    box-shadow: none;}
.formarea .checkbox input{height: auto;}
.submitbtn button {
 background-image: -webkit-linear-gradient(top, #808284, #414345); 
background-image:    -moz-linear-gradient(top, #808284, #414345); 
background-image:     -ms-linear-gradient(top, #808284, #414345); 
background-image:      -o-linear-gradient(top, #808284, #414345); 
background-image:         linear-gradient(top, #808284, #414345);
    border: 0 none;
    color: #fff;
    font-size: 24px;
    padding: 6px 60px;border-radius: 0;
    text-transform: uppercase;
}
.tel_code > span {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #e2e2e2;
    border-radius: 4px;
    color: #afafaf;
    float: left;
    font-size: 16px;
    height: 50px;
    padding: 11px 0;
    text-align: center;
    width: 100%;
}
.formarea a {
    color: #6f6f6f;
    float: left;
    font-size: 15px;
    margin: 10px 0;
    width: 100%;
}
.formarea a:hover{text-decoration: none;}
.form_footer .footer_socialicons {
    border: 0 none;
    margin: 0;
    padding: 35px 0;
}
.signup_bg.form_bg{padding:20px 0px;}
.signup_text > img {
    float: left;
    margin-top: 0px;
    width: 30px;
}
.textsection {
    float: left; padding-left: 15px;
    width: calc(100% - 30px);
}

.signup_section.form_section {
    background: #f9f9f9 none repeat scroll 0 0; 
}
.signup_bg.form_bg {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: 0 none;
}
.signup_text {
    margin-bottom: 50px;
    margin-top: 20px;
}
.signup_rightside p {
    color: #000;
    font-size: 22px;
}
.checkboxdiv {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.checkboxdiv input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom checkbox */
.checkboxdiv .checkmark {
    background-color: #fff !important;
    border: 1px solid #afafaf;
    height: 15px;
    left: 0;
    position: absolute;
    top: 5px; border-radius: 3px;
    width: 15px;
}
/* On mouse-over, add a grey background color */
.checkboxdiv:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.checkboxdiv input:checked ~ .checkmark {
    background-color: #f9f9f9;
    border: 1px solid #afafaf;
    border-radius: 3px;top: 5px;
}
/* Create the checkmark/indicator (hidden when not checked) */
.checkmark::after {
    content: "";
    display: none;
    font-family: FontAwesome;
    position: absolute;
}
/* Show the checkmark when checked */
.checkboxdiv input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.checkboxdiv .checkmark:after {
   color: #afafaf;
    font-size: 20px;
    height: 10px;
    left: 0;
    top: -10px;
    width: 5px;
    border: solid transparent;
    border-width: 0 3px 3px 0;
}
.forminput textarea.form-control {
    background: #fff none repeat scroll 0 0;
    border-radius: 6px;
}
.signup_rightside .forminput input.form-control::-moz-placeholder{color: #afafaf;font-size: 16px;}
.signup_rightside .forminput input.form-control::-webkit-placeholder{color: #afafaf;font-size: 16px;}
.signup_rightside .forminput textarea.form-control::-moz-placeholder{color: #afafaf;font-size: 16px;}
.signup_rightside .forminput textarea.form-control::-webkit-placeholder{color: #afafaf;font-size: 16px;}

/**terms-conditions-start--**/
.innercontent_text h1 {
    color: #484848;
    font-size: 30px;
    margin: 60px 0;
    text-align: center;
    font-weight: 500;
}
.innercontent_text > p {
    color: #6a6a6a;
    font-size: 16px;
    line-height: 27px;
}
.terms-conditionsdiv h4 {
    color: #434547;
    font-size: 20px;
}
.terms-conditionsdiv > p {
    color: #6a6a6a;
    font-size: 16px;
    line-height: 27px;
}
.terms-conditionsdiv {
    margin-bottom: 30px;
    margin-top: 30px;
}
.mobile_logo {
    color: #fff;
    float: left;
    font-size: 20px;
    font-weight: bold;
    padding: 10px 15px;
}
.navbar-toggle {
    background: #fff none repeat scroll 0 0;
    border: 0 none;
    border-radius: 0;
}
footer.form_footer {
    bottom: 0;top: 100%;
    position: absolute;
    width: 100%;
}
.register_section.form_section {
    height: calc(100vh - 28vh);
}
.signupbtn_div {
    margin-top: 40px;
}
.signupbtn_div .submitbtn a {
    float: none;
    width: auto;font-size: 21px;
}
.submitbtn > p {
    color: #6f6f6f;
    font-size: 21px;
    margin: 10px 0;
}
.signupbtn_div .submitbtn a {
    color: #3d3d3d;
    float: none;
    font-size: 21px;
    font-weight: bold;
    padding-left: 10px;
    text-transform: uppercase;
    width: auto;
}
/**terms-conditions-end--**/


/**new-css-start**/
.booking_content h1{ color: #434547;
    font-size: 30px;
    margin: 60px 0;
    text-align: center;}
h3.bookingform_title {
    font-size: 20px;
    margin-bottom: 30px;
    font-weight: 500;
    color: #484848;
}
.bookingform_div > ul {
    border: 1px solid #e5e5e5;
    list-style: outside none none;
    padding: 0;margin-top: 10px;
}
.bookingform_div ul li {
    border-bottom: 1px solid #c6c6c3;
    padding: 18px 20px;
}
.bookingform_div ul li label {
    font-size: 14px;
    font-weight: 300;
    vertical-align: middle;
    margin: 0;
}
.bookingform_div .checkboxdiv .checkmark::after{color: #000;}
.bookingform_div .checkboxdiv input:checked ~ .checkmark{border: 1px solid #000;}
.checkboxdiv .checkmark{border: 1px solid #000;}

/**quantity-input-css-start**/
.quantity {
    position: relative;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button
{
  -webkit-appearance: none;
  margin: 0;
}

input[type=number]
{
  -moz-appearance: textfield;
}

.quantity input {
    border: 1px solid #eee;
    display: block;
    float: left;
    height: 42px;
    line-height: 1.65;
    margin: 0;
    padding: 0 0 0 20px;
    width: calc(100% - 70px);
}

.quantity input:focus {
  outline: 0;
}

.quantity-nav {
  float: left;
  position: relative;
  height: 50px;
}

.quantity-button {
    -moz-user-select: none;
    border-left: 1px solid #eee;
    color: #333;
    cursor: pointer;
    font-size: 20px;
    line-height: 24px;
    position: relative;
    text-align: center;
    transform: translateX(-100%);
    width: 50px;
}
.quantity-button.quantity-up {
  position: absolute;
  height: 50%;
  top: 0;
  border-bottom: 1px solid #eee;
}

.quantity-button.quantity-down {
  position: absolute;
  bottom: -1px;
  height: 50%;
}
.quantity > span {
    float: left;
    width: 100%;margin-bottom: 5px;
}
.quantity > label {
    float: left; width: 60px;
    margin-right: 10px;
    padding-top: 10px;
    font-weight: 500;
}
/**quantity-input-css-end**/
.bookform_input > label {
    font-size: 15px;
    font-weight: 300;
    color: #828282;
}
.bookform_input input {
    border: 1px solid #e5e5e5;
    border-radius: 0;
    box-shadow: none;
    height: 50px;
}
.borderdiv {
    border: 1px solid #e5e5e5;
    float: left;
    padding: 20px 30px;
    width: 100%;
}


/**radio-css-start**/
.radiodiv {
    -moz-user-select: none;
    cursor: pointer;
    display: block;
    font-size: 14px;
    line-height: 27px;
    margin-bottom: 12px;
    padding-left: 35px;
    position: relative;
}
/* Hide the browser's default radio button */
.radiodiv input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom radio button */
.radiodiv .checkmark {
    position: absolute;
    top: 12px;
    left: 0;
    height: 15px;
    width: 15px;
    background-color: #fff !important;
    border-radius: 50%;border: 1px solid #cacaca;
}

/* On mouse-over, add a grey background color */
.radiodiv:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.radiodiv input:checked ~ .checkmark {
    background-color: #fff;
    border: 1px solid #434547;
}
/* Create the indicator (the dot/circle - hidden when not checked) */
.radiodiv .checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.radiodiv input:checked ~ .checkmark:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.radiodiv .checkmark::after {
    background: rgba(67, 69, 71, 0.5882352941176471);
    border-radius: 50%;
    height: 6.5px;
    left: 3.4px;
    top: 3px;
    width: 6.5px;
}
.photosdiv {
    float: left;
    margin-top: 10px;
    width: 100%;
}
.photosession_info > p {
    margin: 15px 0;
}
.total_price {
    background: #f4f4f4 none repeat scroll 0 0;
    padding: 20px 0;
}
.totalamt_div > p {
    border-right: 1px solid #9b9b9b;
    color: #323232;
    font-size: 16px;
    line-height: 40px;
    margin: 0;
}
.checkout_btn .btn {
    background: #434547 none repeat scroll 0 0;
    border-radius: 0;
    color: #fff;
    font-size: 25px;
    padding: 20px 0;
    text-transform: uppercase;
    width: 100%;
}
.checkout_btn{padding-left: 0px;}
.photosession_info{float: left;width: 100%;}
.notification i {
    color: #fff;
    font-size: 18px;
}
.notification > span {
    background: #41b573 none repeat scroll 0 0;
    border-radius: 20px;
    color: #fff;
    height: 20px;
    left: 22px;
    padding-top: 0;
    position: absolute;
    text-align: center;
    top: 10px;
    width: 20px;
}
li.notification {
    padding: 20px 15px;
}
.notification.msgbox > span {
    background: #e64a19 none repeat scroll 0 0;
}
.notification_icons {
    position: absolute;
    right: 50px;
}
.notification_icons li {
    float: left;
    position: relative;list-style: none;
}
.dashboard_left {
    background: #434547 none repeat scroll 0 0;
}
.profileimg img {
    float: left;
    height: 45px;
    width: 45px;
}
.profileimg p {
    color: #fff;
    float: left;
    font-size: 17px;
    line-height: 22px;
    margin: 0;
    padding-left: 14px;
    width: calc(100% - 100px);
}
.profileimg span {
    font-size: 12px;
    text-transform: none;
}
.dashboard_left h6 {
    color: #6a6c6f;
    float: left;
    font-size: 14px;
    padding: 20px;
    width: 100%;
}
.list-sidenav {
    float: left;
    margin: 0;
    padding: 0;
    width: 100%;
}
.list-sidenav a {
    color: #fff;
    font-size: 13px;
    font-weight:500;
    cursor: pointer;
}

.list-sidenav i {
    float: left;
    padding-top: 3px;
    width: 25px;
}
.list-sidenav > li {
    list-style: outside none none;
}
.profileimg {
    float: left;
    padding: 10px 20px;
    width: 100%;border-top: 1px solid #5f6163;
}
.list-sidenav > li {
    list-style: outside none none;
    padding: 10px 20px;
}
.list-sidenav li a:hover{text-decoration: none;}
.sessions_counter {
    background: #d14a22 none repeat scroll 0 0;
    border-radius: 3px;
    float: right;
    padding: 0 7px;
}
.classes_counter {
    background: #4caf50 none repeat scroll 0 0;
    border-radius: 3px;
    float: right;
    padding: 0 7px;
}
.feedback_counter{
    background: #3d4faa none repeat scroll 0 0;
    border-radius: 3px;
    float: right;
    padding: 0 7px;
}
.current_sessiondiv {
    border: 1px solid #d3d3d3;
    float: left;
    margin:0px 0 20px;
    width: 100%;
    height: auto;  
   /* height: 180px;
   margin:60px 0 20px;*/
}
.current_sessiontitle h3 {
    font-size: 25px;
    margin: 10px 0 0;
}
.current_sessiontitle p {
  color: #b3b3b3;font-size: 19px;  
    }
.user_name h2 {
    color: #434547;
}
.editbtn > a {
    background: #434547 none repeat scroll 0 0;
    border-radius: 3px;
    color: #fff;
    padding: 7px 20px;
    text-align: right;font-size: 18px;
}
.profile_img img {
    height: 120px;
    /*object-fit: cover;*/
    width: 120px; margin-bottom: 20px;
    border-radius: 50%;
}
.profile_img > a {
    background: #434547 none repeat scroll 0 0;
    border-radius: 4px;
    color: #fff;
    padding: 10px 12px;
    text-align: center;
}
.social_media > li {
    display: inline;
}
.social_media {
    padding: 0;
}
.social_media i {
    color: #000000;
    font-size: 28px;
    margin: 0 10px;
}
.social_media {
    margin: 30px 0;
    padding: 0;
}
.prflinfo_div > span {
    color: #afafaf;
    float: left;
    font-size: 16px;
    overflow-wrap: break-word;
    width: calc(100% - 25px);
}
.prflinfo i {
    color: #434547;
    float: left;
    padding-right: 10px;
    width: 25px;  padding-top: 4px;
}
.prflinfo_div {
    margin-bottom: 20px;
}
.aboutdiv h4 {
    color: #434547;
    font-size: 22px;
}
.aboutdiv > p {
    color: #9d9d9d;
    font-size: 16px;
    line-height: 28px;
}
.searchform label {
    color: #666;
    font-size: 15px;margin: 0px;
}
.searchbar form{width:100%;padding: 0px;}
.searchbar .form-group{width: 100%;}
.searchbar .form-control {
    border: 1px solid #ccc;
    box-shadow: none;
    height: 45px;
    width: 80%;
}
.searchbar input.form-control::-moz-placeholder{color:#ccc;font-style: italic;font-size: 16px;}
.searchbar input.form-control::-webkit-placeholder{color:#ccc;font-style: italic;font-size: 16px;}
.addbtn input.btn {
    background: #434547 none repeat scroll 0 0;
    color: #fff;
    margin: 8px 0;
    padding: 11px 5px;
    width: 100%;
}
.searchbar{padding: 0px;}
.tablewrapper .headings {
    background: #f5f5f5 none repeat scroll 0 0;
}
.tablewrapper .headings th {
    padding: 10px;border: 0px;
    text-align:center;
}
.tablediv table {
    border: 1px solid #e4e4e4;float: left;width: 100%;
}
.tablewrapper .headings th {
    border: 0 none;
    color: #444444;
    font-size: 15px;
    padding: 10px;text-align: left;
}
.user_img > img {
    width: 50px;height: 50px;
}
.user_img{margin: auto;text-align: center;}

.tablediv .tabledata td {
    border: 0 none;
    padding: 4px 10px;
      text-align: left;  
}
.dashboard_right {
    margin-top: 15px;
}
.tabledata td a {
    color: #666;
    font-size: 13px;
    padding: 0 8px 0 0;
}
.tabledata td a:hover{text-decoration: none;}
.spacertop{margin-top:10px;}
.tabledata a i {
    font-size: 13px;
    padding-right: 3px;
}
.pagination_section {
    border: 1px solid #e4e4e4;
    border-radius: 4px;
    float: left;
    margin: 40px 0;
    width: 100%;padding: 20px 0px;
}
.total_div > span {
    float: left;
    padding-top: 30px;
}
.pagination_div .pagination li i   , .pagination_div .pagination li a{
    color: #e4e4e4;
}
.pagination_div .pagination li.active a{
    color: #000;background: none; border: 1px solid #e4e4e4;
}
.pagination_div .pagination .active > span {
    color: #ffffff;
    background: #337ab7;
    border: 1px solid #337ab7;
}
.selectdiv  select{-moz-appearance:none;-webkit-appearance:none;background-image: url("../images/dropdownicon.png"), linear-gradient(#ffffff, #f3f5f8);
    background-position: 90% center;
    background-repeat: no-repeat;
    border: 1px solid #dfe3e9;
    box-shadow: none;
    height: 35px;
    width: 70px;  border-radius: 4px;}
.left_dashboardfooter li {
    color: #bfbfbf;
    display: inline;
    padding: 0 10px;
}
.left_dashboardfooter li a{  color: #bfbfbf;}
.left_dashboardfooter li a:hover{text-decoration: none;}
.left_dashboardfooter span {
    color: #D14A22;
}
.left_dashboardfooter ul{padding: 0px;}
.right_dashboardfooter a{color: #4CAF50;}
.right_dashboardfooter a:hover{text-decoration: none;}

.tablediv .table-striped > tbody > tr:nth-of-type(n+1) {background:#f9f9f9;}
.tablediv .table-striped > tbody > tr:nth-of-type(2n+1) {background:#fff;}
.selectdiv.topbar_selectiv {
    padding-top: 15px;
}
.session_btndiv > a {
    border-radius: 4px;
    color: #fff;
    float: left;
    font-size: 25px;
    padding: 20px 0;
    text-align: center;
    width: 100%;
}
.session_btndiv > a:hover{text-decoration: none;}
.lightgrey_btn a{background:#6c6e70;}
.darkgrey_btn a{background:#000;}
.session_btns {
    margin-bottom: 10px;
    margin-top: 10px;
}
.ratingstars i {
    color: #fbd415;
    font-size: 12px;
    padding-right: 3px;
}
.bordertop {
    border-top: 1px solid #868686;
    float: left;
    margin: 30px 0;
    width: 100%; padding: 10px 0;
}
.paymentinfo_title > h3{margin: 0px;}
.paymentinfo_title > h3 {
    color: #434547;
    font-size: 18px;
    margin: 0;
}
.paymentinfo_text > p {
    font-size: 15px;color: #747474;
}
.paymentborderdiv{padding-top: 15px;padding-bottom: 15px;border-bottom: 1px solid #e8e8e8;}
.images_load ul{padding: 0px;}
.images_load li {
    float: left;
    list-style: outside none none;
    width: 25%;
}
.images_load li img{width: 100%;padding: 0px 5px 0 0;}
.loadbtn > a {
    background: #434547 none repeat scroll 0 0;
    border-radius: 4px;
    color: #fff;
    padding: 10px 20px;
    text-transform: uppercase;
}
.loadbtn {
    float: left;
    margin-top: 30px;
}
.imgdiv {
    padding-bottom: 15px;
    padding-top: 15px;
}
.class_details_info {
    border: 1px solid #e4e4e4;
}
.class_detaildiv{padding:0px 30px;}
.class_details_info h4 {
    background: #f5f5f5 none repeat scroll 0 0;
    margin: 0;
    padding: 10px 30px;
}
.classimgdiv img {
    border: 3px solid #e3e3e5;
    margin: 20px 0;
    width: 120px;
}
.classdetails > p {
    color: #434547;
    font-size: 18px;
}
.classdetails span {
    color: #747474;
    font-size: 15px;
    margin-left: 10px;
}
.classdetails > p {
    border-bottom: 1px solid #e8e8e8;
    color: #434547;
    font-size: 18px;
    margin: 0;
    padding: 15px 0;
}
.classdetails > p:last-child{border: 0px;}
.dashboard_footer {
    float: left;
    padding-top: 60px;
    width: 100%;
    /*position: fixed;
    bottom: 0;*/
    }
.blogpost_bg {
    background: #fff none repeat scroll 0 0;
    border: 1px solid rgb(232, 232, 232);
    box-shadow: 3px 7px 11px 4px #eee;
}
.blogpost_content {
    padding: 10px 15px 40px;
}
.postdate {
    color: #c2c2c2;
    float: left;
    font-size: 12px;
    margin-bottom: 10px;
    width: 100%;
}
.blogpost_content p {
    color: #454545;
    font-size: 15px;margin-bottom: 20px;
}
.blogpost_content > a {
    background: #434547 none repeat scroll 0 0;
    border-radius: 4px;
    color: #fff;
    padding: 9px 10px;
}
.latestpost_div {
    margin-bottom: 30px;
}
.greybg {
    background: #f3f3f3 none repeat scroll 0 0;
}
.blogposts_div{  padding-bottom: 30px;}
.leftblogphotodiv .blogphoto_content {
    bottom: 0;
    padding: 10px 20px;
    position: absolute;
}
.leftblogphotodiv img {
    height: 360px;
    object-fit: cover;
    width: 100%;
}
.leftblogphotodiv .blogphoto_content h2 {
    color: #fff;
    font-size: 18px;
}
.leftblogphotodiv .blogphoto_desc{color: #fff;}
.leftblogphotodiv .blogpost_date {
    color: #fff;
}
.rightblogphotodiv .blogphoto_content h2 {
    color: #fff;
    font-size: 16px;
}
.blogpost_date > span {
    padding-right: 20px;
}
.rightblogphotodiv .blogphoto_div img {
    height: 160px;
    object-fit: cover;
    width: 100%;
}
.rightblogphotodiv .blogphoto_content {
    position: absolute;
    top: 0; padding: 10px 10px;
}
.blogphoto_div{position: relative;}
/*.classblk_bg{ background: #fff none repeat scroll 0 0;
    border: 1px solid rgb(232, 232, 232);
    box-shadow: 3px 7px 11px 4px #eee;}*/
.class_content p {
    color: rgba(45, 45, 45, 0.8313725490196079);
    font-size: 15px;
    font-weight: 500;
}
.class_content > a {
    background: #434547 none repeat scroll 0 0;
    border-radius: 4px;
    color: #fff;
    padding: 9px 10px;
}
.class_content {
    padding: 30px;
}
.class_reviewstars i {
    color: #ff0000;
    float: left;
    padding: 0 1px;
}
.classblk {
    padding:0px;
    flex: 1;
    margin: 10px;
    background: #fff none repeat scroll 0 0;
    border: 1px solid rgb(232, 232, 232);
    box-shadow: 3px 7px 11px 4px #eee;
}
.pagination.pagination_div .prevnav > a {
    background: #0d0d0d none repeat scroll 0 0;
    border: 1px solid #0d0d0d;
    border-radius: 0 !important;
    color: #fff;
    font-size: 20px;
    padding: 6px 20px;
}
.pagination.pagination_div .nextnav a{background: #0d0d0d none repeat scroll 0 0;
    border: 1px solid #0d0d0d;
    border-radius: 0 !important;
    color: #fff;
    font-size: 20px;
    padding: 6px 20px;}
.pagination.pagination_div li a {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #dfdfdf;
    border-radius: 0 !important;
    color: #929292;
    font-size: 20px;
    margin: 0 10px;
    padding: 6px 20px;
}
.pagination.pagination_div li span {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #dfdfdf;
    border-radius: 0 !important;
    color: #929292;
    font-size: 20px;
    margin: 0 10px;
    padding: 6px 20px;
}
.pagination.pagination_div li a.blanknav {
    background: #fff none repeat scroll 0 0;
    border: 0px;
    border-radius: 0 !important;
    color: #929292;
    font-size: 20px;
    margin: 0 10px;
    padding: 6px 20px;
}
.pagination.pagination_div li.active > span {
    background: #000 none repeat scroll 0 0;
    border: 1px solid #000;
    color: #fff;
}
.pagination.pagination_div{display: flex;-webkit-display:flex;display: -webkit-flex; /* Safari */
    -webkit-justify-content: center;justify-content: center;margin: 0 0 60px;width: 100%;}
.classblks_div nav{float: left;
    margin-top: 40px;
    width: 100%;}
.classblks_div {
    padding-bottom: 60px;
}
.photoidea_leftsec img {
    height: 500px;
    object-fit: cover;
    width: 100%;
}
.photoidea_leftsec .photoidea_content {
    bottom: 0;
    position: absolute;
}
.photosmall_sec .photoidea_content {
    bottom: 0;
    color: #fff;
    padding: 0 10px;
    position: absolute;
}
.photoidea_leftsec {
    padding: 0 5px;
    position: relative;
}
.photoidea_content > p {
    color: #d5d2d2;
}
.photoidea_leftsec .photoidea_content {
    bottom: 0;
    color: #fff;
    padding: 0 20px 10px;
    position: absolute;
}
.photosmall_sec {
    padding: 0 5px;
    position: relative;margin-bottom: 10px;
}
.photosmall_sec .photoidea_content > h3 {
    font-size: 16px;
}
.postdates > span {
    margin-right: 30px;
}
.photosmall_sec img {
    height: 245px;
    object-fit: cover;
    width: 100%;
}
.photoidea_sec {
    padding-bottom: 60px;
}
.society_imgsec {
    background: rgba(0, 0, 0, 0) url("../images/photographer_bg.jpg") repeat scroll 0 0;
    background-repeat: no-repeat;background-size: cover;
}
.society_imgsec > h1 {
    font-size: 71px;
}
.society_imgsec > h1 {
    color: #fff;
    font-size: 71px;
    padding: 200px 0;
}
.singleview_content h1 {
    font-size: 55px;
    margin-bottom: 0;
}
.singleview_content > h3 {
    color: #212121;
    font-size: 24px;
    margin: 0;
    text-align: center;
}
.singleview_content p {
    color: #5a5a5a;
    font-size: 16px;
    line-height: 30px;
    padding: 10px 210px;
    text-align: center;  margin: 0;
}
.singleview_bg {
    background: #f9f9f9 none repeat scroll 0 0;
    /*border: 1px solid #eaeaea;*/
    padding: 20px;float: left;width: 100%;
}
.singleview_bg > h2 {
    font-size: 20px;
    /*margin: 10px 0;*/
}
.singleview_bg ul li {
    float: left;
    list-style: outside none none;
    margin-bottom: 20px;
    width: 50%;
}
.singleview_bg ul{padding: 0px;}
.singleview_bg ul li i {
    color: #999999;
    float: left;
    padding-top: 4px;
    width: 20px;
}
.singleview_bg ul li span {
    color: #999999;
    float: left;
    line-height: 24px;
    width: calc(100% - 20px);
}
.singleclassview {
    float: left;
    padding: 50px 0;
    width: 100%;
}
.singleclassview_para {
    float: left;
    padding-top: 30px;
    width: 100%;
}
.singleclassview_para > h2 {
    font-size: 20px;margin: 0 0 10px 0;
}
.singleclassview_para > ul {
    padding: 0 10px;margin: 0px;
}
.singleclassview_para li {
    color: #838383;
    font-size: 15px;
    margin-bottom: 15px;
}
.singleclassview_para li:last-child{ margin-bottom: 0px;}
.singleclassview_para span {
    color: #383838;
    font-size: 16px;
}
.desc_sec li{list-style: none;}
.singleclassview_para.desc_sec > ul{padding: 0px;}
.singleclassview_para.desc_sec > a {
    background: #444547 none repeat scroll 0 0;
    color: #fff;
    float: left;
    margin-top: 15px;
    padding: 8px 10px;
}
.instructor_img > ul {
    padding: 0px;
}
.instructor_img li {
    color: #2d2d2d;
    margin-bottom: 5px;
}
.instructor_img img {
    border-radius: 6px;
    box-shadow: 4px 4px 6px 0 #eee;
    height: 100px;
    object-fit: cover;
    width: 100%;
}
.instructor_text > h3 {
    font-size: 20px;
    margin-bottom: 5px;
    font-size: 20px;
    font-weight: 500;
    color: #484848;
}
.instructor_text p {
    color: #969696;
    font-size: 16px;
    line-height: 25px;
}
.instructor_text > a {
    background: #444547 none repeat scroll 0 0;
    border-radius: 4px;
    color: #fff;
    float: left;
    margin-top: 10px;
    padding: 7px 10px;
}
.singleviewright_bg {
    background: #f9f9f9 none repeat scroll 0 0;
    float: left;
    padding: 30px;
    width: 100%;
}
.singleviewright_bg h1 {
    margin-bottom: 10px;
    margin-top: 0; text-align: left;
    /*padding-top: 40px;*/ font-size: 20px;
}
.singleviewright_bg span {
    color: #808183;
    margin-left: 10px;
}
.singleviewright_bg i {
    color: #fe0002;
    font-size: 18px;
    padding-right: 3px;
}
.calender_date {
    color: #a3a3a3;margin: 30px 0px;
}
.calender_date span i {
    color: #808183;
    padding-right: 10px;
}
.calender_date > span {
        float: left;
    font-size: 14px;
    font-weight: 300;
    margin: 0;
    width: 50%;
}
.calender_date select {
    border: 1px solid #cccccc;
    font-size: 15px;
    height: 30px;
    width: 100%;-moz-appearance:none;-webkit-appearance:none;
    background-image: url(../images/dropdownicon.png);background-repeat: no-repeat;
    background-position: 98%;background-size: 12px;
}
.cartbtn button {
    background: #444547 none repeat scroll 0 0;
    border: 0 none;
    border-radius: 0;
    margin: 20px 0;
    padding: 12px 0;
    width: 100%;font-size: 18px;
}
.buynowbtn > a {
    background: #faf6f7 none repeat scroll 0 0;
    border: 1px solid #b9b5b6;
    color: #757577;
    float: left;
    font-size: 20px;
    margin-left: 10%;
    padding: 15px 0;
    text-align: center;
    width: 80%;
}
.share_icons {
    float: left;
    margin: 20px 0;
    text-align: center;
    width: 100%;
}
.share_icons > span {
    font-size: 20px;
}
.share_icons p i {
    color: #000000;
    font-size: 20px;
    padding: 0 7px;
}
.share_icons > p {
    margin: 10px 0;
}
.total_rating > h1 {
    color: #808284;
    font-size: 80px;
    margin: 0;
}
.total_rating > p {
    text-align: center;
}
.total_rating p i {
    font-size: 16px;
    padding: 0 2px;
}
.progressbar_div .progress-bar {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    box-shadow: none;
}
.progressbar_div .progress{background: #444547;height: 30px;}
.rating_percentage i {
    padding: 0 3px;
}
.rating_percentage .stardiv{float: left;width: 80%;}
.rating_percentage span {
    float: left;
    width: calc(100% - 80%);
}
.viewmore_btn > a {
    background: #444547 none repeat scroll 0 0;
    border-radius: 5px;
    color: #fff;
    float: left;
    margin-top: 20px;
    padding: 10px 20px;
}
.sidegalary_img img{width: 100%;}
.sidegalary_img {
    padding: 3px;
}
.sidegalary_img.middleimg > img {
    height: 170px;
    object-fit: cover;
    width: 100%;
}
.sidegalary_img.smallimg > img {
    height: 170px;
    object-fit: cover;
    width: 100%;
}
.sidegalary_img.bigimg > img {
    height: 400px;
    object-fit: cover;
    width: 100%;
}
.relatedpost_blk img {
    
    height: 270px;
    object-fit: cover;
    width: 100%;
}
.stars_rating i {
    padding: 6px 2px;
}
.pricesec p {
    font-size: 20px;
}
.relatedpost_blk > p {
    color: #2d2d2d;
    float: left;
    font-size: 18px;
    width: 100%;
}
.related_posts {
    padding-bottom: 120px;
}
.class_content > a {
    background: #434547 none repeat scroll 0 0;
    border-radius: 4px;
    color: #fff;
   /* float: left;*/
    padding: 9px 18px;
    text-transform: uppercase;
    display: inline-block;
}
.class_content h3{margin: 0 0 10px 0;}
.classblk_bg img {
    height: 250px;
    object-fit: cover;
    width: 100%;
}
.namediv h3{margin: 0px;}
.class_content.album_cntnt > p {
    margin-top: 10px;
}
.album_cntnt .postdate {
    font-size: 14px;
    margin-top: 3px;
}
.class_content.album_cntnt > a {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    color: #ff0000;
    margin-top: 10px;
    padding: 0;
}
.singleview_content img {
    height: 450px;
    margin-top: 20px;
    object-fit: cover;
    width: 100%;
}
.sharediv span {
    float: left;
    font-size: 20px;
    margin: 10px 0;
    text-transform: uppercase;
    width: 100%;
}
.sharediv i {
    border: 1px solid #858585;
    border-radius: 30px;
    color: #858585;
    height: 30px;
    margin: 0 5px;
    padding-top: 6px;
    width: 30px;
}
.sharediv {
    margin: 30px 0;
}
.message_sec .form-group label {
    color: #a1a1a1;
    margin-bottom: 10px;
}
.message_sec form input {
    border: 1px solid #eee;
    border-radius: 0;
    box-shadow: none;
    height: 40px;
}
.message_sec .btn.btn-default {
    background: #2b2b2b none repeat scroll 0 0;
    border: 0 none;
    border-radius: 0;
    color: #fff;
    font-size: 13px;
    margin-top: 30px;
    padding: 8px 30px;
}
.suggestedpost_div > img {
    height: 200px;
    width: 100%;
}
.suggestedpost_div .postdate {
    padding: 0;
}
.suggestedpost_div {
    padding: 0 5px 40px;
    text-align: center;
}
.suggestedpost_div > span {
    text-transform: uppercase;
}
.suggestedpost_div .postdate {
    font-size: 12px;
    padding: 0;
}
.album_carousel .bx-wrapper{background: none;box-shadow: none;border: 0px;margin: auto;}
.album_carousel .bx-wrapper .bx-viewport ul.bxslider li {
    background-color: #ccc;
    margin: 0 5px;
}
.album_carousel .bxslider li.active-slide img {
    height: 550px;
    object-fit: cover;
    width: 100%;
}
.album_carousel .bx-wrapper .bx-viewport ul.bxslider li.active-slide{width: 550px !important;}
.album_carousel .bxslider li img{
    display: block;
    height: 550px;
    max-width: 100%;
    object-fit: cover;
    width: 100%;
}
.album_carousel .bx-wrapper{max-width: 100% !important;}
.navigationbar .nav.navbar-nav.admin_nav{display: block;}
.logout_link > a {
    color: #fff;
    float: left;
    font-size: 20px;
    padding-top: 12px;
}
.forgotpwd_link{float: left;text-align: left;padding: 0px;}
.edit_chkbox .checkboxdiv{float: left;width: 50%;}
.edit_radiobtn .radiodiv {
    float: left;
    width: 50%;
}
.prflinput > input{padding-top: 35px;}
.tablewrapper {
    text-align: center;
}
.buttondiv button {
     background: #434547 none repeat scroll 0 0;
    border: 0 none;
    border-radius: 0;
    padding: 10px 28px;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 600;
   
}
.buttondiv a {
    background: #434547 none repeat scroll 0 0;
    border: 0 none;
    border-radius: 0;
    padding: 8px 20px;color: #fff;
    text-transform: uppercase;
}
.sidebar{height: 100vh;}
/**radios-css-end**/


.contact_title > h2 {
    color: #434547;
    font-size: 35px;
}
.contactdiv {
    padding-bottom: 60px;
    padding-top: 60px;
}
.contact_bg{background: #f7f7f7 none repeat scroll 0 0;}
.contactinfo ul {
    float: left;
    margin-top: 20px;
    padding: 0;
    width: 100%;
}
.contactinfo li i {
    color: #898989;
    float: left;
    font-size: 22px;
    width: 30px;
}
.contactinfo li {
    color: #383838;
    float: left;
    font-size: 18px;
    list-style: outside none none;
    margin-bottom: 15px;
    width: 100%;
}
.contactinfo span {
    float: left;
    padding-left: 10px;
    width: calc(100% - 40px);
}
.contact_socialmedia > h3 {
    color: #434547;
    font-size: 24px;
}
.contactinfo .contact_socialmedia li {
    display: inline;
    width: auto;
}
.contactinfo .contact_socialmedia ul{margin-top: 0px;}
.contactform p {
    color: #383838;
    font-size: 18px;
    margin-top: 30px;
}
.contactform .form-group.forminput {
    margin-bottom: 30px;
}
.faqdiv .panel.panel-default {
    border: 0 none;
}
.faqdiv .panel-heading {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: 0 none;
    padding: 20px 0;
}
.faqdiv h4.panel-title {
    font-size: 30px;
}
.faqdiv .panel-title span {
    color: #c4c4c4;
    padding-right: 20px;
}
.faqdiv .panel-default.panel .panel-body{border: 0px;color: #484848;
    font-size: 16px;
    padding: 0 60px 10px;}
.faqsection {
    padding: 60px 0;
}
.panel.panel-default:last-child{box-shadow: none;}
.occasion_text h2 {
    color: #434547;
}
.occasion_text p {
    color: #5c5c5c;
    font-size: 16px;
    line-height: 30px;
}
.occasion_text {
    padding: 0 20px;
}
.occasion_text > a {
    background: #434547 none repeat scroll 0 0;
    color: #fff;
    float: left;
    padding: 10px 15px;
}
.occasion_info {
    padding: 50px 0px 50px 0;
}
.occasion_rel_img {
    padding: 50px 0px 20px 0px;
    background-color: #f7f7f7;
}
.occasion_images {
    background: #f4f4f4 none repeat scroll 0 0;
    float: left;
    padding: 120px 0;
    width: 100%;
}
.bigoccasionimg img {
    height: 590px;
    object-fit: cover;
    width: 100%;    margin-bottom: 20px;
}
.smalloccasionimg img {
    height: 200px;
    object-fit: cover;
    width: 100%;    margin-bottom: 20px;
}
.occasion_hover > img {
    height: auto;
    width: 100px;
}
.occasion_hover {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    text-align: center;
    width: 100%;display: none;
}
.smalloccasionimg .occasion_hover{top: 30%;}
.bigoccasionimg .occasion_hover{top: 50%;}
.occasionimg:hover .occasion_hover{display: block;}
.occasion_slider .bx-wrapper {
    max-width: 100% !important;
}
.occasion_slider .bx-wrapper .bx-viewport ul.bxslider li {
    margin: 0 5px;
}
.occasion_slider .bxslider li img {
    display: block;
    height: 340px;
    max-width: 100%;
    object-fit: cover;
    width: 100%;
}
.moment_title {
    bottom: 0;
    position: absolute;
    text-align: center;
    width: 100%;padding-bottom: 10px;
}
.moment_title h2{color: #fff;font-size: 25px;}
.moment_sec .outside > span#slider-prev {
    bottom: 200px;
    color: #000;
    font-size: 60px;
    left: -50px;
    position: relative;
}
.moment_sec .outside > span#slider-next {
    bottom: 200px;
    color: #000;
    font-size: 70px;
    left: 100%;
    margin-left: 0;
    position: relative;
}
.moment_sec{float: left;width: 100%;}
.payment_left h1 {
    margin-bottom: 20px;
    text-align: left;
}
.event_paymentsec {
    border: 1px solid #e0e0e0;
    float: left;
    width: 100%;
}
.event_paymentsec img{width: 100%;}

/**2nd-august-css-start**/
.editorder_btn a {
    background: #444547 none repeat scroll 0 0;
    color: #fff;
    padding: 9px 12px;
}
.editorder_btn.text-right {
    margin-top: 10px;
}
.payment_datediv {
    padding: 15px 0;
}
.paymentdate > span {
    color: #000;
}
.paymentdate {
    font-size: 16px;
}
.paymentbtns {
    border-top: 1px solid #e0e0e0;
    padding: 0px 0;
    text-align: center;
}
.payment_btn:first-child {
    border-right: 1px solid #e0e0e0;
}
.payment_btn{padding: 20px 0px;}
.payment_btn > a {
    color: #898989;
    font-size: 16px;
}
.subtotal_div {
    border-top: 1px solid #e0e0e0;
    color: #898989;
    padding: 20px;
}
.innercontentpart .payment-heading > h1 {
    margin: 0 0 20px;
    padding: 0 15px;
    text-align: left;float: left;
    margin-bottom: 20px;
    width: 100%;
}
.payment-heading {
    padding: 50px 0;
}
.payment_right {
    border: 1px solid #e0e0e0;padding: 0px;
}
.innercontent_text .payment_right > h1 {
    border-bottom: 1px solid #e0e0e0;
    font-size: 24px;
    margin: 0;
    padding: 15px;
    text-align: left;
}
.summarydiv > p {
    border-bottom: 1px solid #e0e0e0;
    color: #5b5b5b;
    font-size: 20px;
    margin: 0;
    padding: 25px 15px;float: left;width: 100%;
}
.summarydiv span {
    float: right;
}
.totalprice_div {
    color: #001932;
    font-size: 24px;float: left;width:100%;
    padding: 20px 15px;
}
.totalprice_div p {
    margin: 0px;
}
.totalprice_div p span{float: right;}
.totalprice_div label.radiodiv {
    color: #afafaf;
    font-size: 16px;
    margin: 10px 0;
}
.totalprice_div .radiodiv .checkmark{width: 20px;height: 20px;}
.totalprice_div .radiodiv .checkmark::after {
    height: 7px;
    left: 6px;
    top: 6px;
    width: 7px;
}
.checkoutbtn button.btn {
    background: #444547 none repeat scroll 0 0;
    border-radius: 0;
    color: #fff;
    font-size: 20px;
    margin: 0 auto;
    padding: 15px 0;
    text-transform: uppercase;
    width: 80%;
}
.deletebtn {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: 0 none;
}
.create_chkbox .checkboxdiv {
    float: left;
    width: 30%;
}
/**2ndaugust-css-end**/



/**new-css-end**/
@media (max-width:1500px) {
    .slide_text h1{ font-size: 9rem;}
}
@media(min-width: 767px) {
    .mobile_logo{display: none;}
}
@media(min-width:992px) and (max-width:1199px) {
    .register_section.form_section{ height: 100vh;}
    .navigationbar .nav.navbar-nav a{padding: 20px 30px;}
}
@media(min-width: 768px) and (max-width:991px) {
    .navigationbar .nav.navbar-nav a{  font-size: 17px;
    padding: 20px;}
    footer.form_footer{position: relative;}
    .borderdiv{padding: 20px 10px;}
    .radiodiv{font-size: 13px;}
    .totalamt_div > p{font-size: 12px;}
}
@media (max-width: 767px) {
    .navigationbar ul.navbar-nav{display: block;}
.navigationbar .logo{display: none;}
footer.form_footer{position: relative;}
.calendar_div{padding: 0px;}
.occasion_div{padding: 0px;}
.additional_div {padding: 0px;}
.booking_content h1{margin:30px 0px;}
.totalamt_div > p{border: 0px;}
.notification_icons{left:0px;}
.profileimg{padding: 70px 20px 20px;}
.mobile_logo:hover{text-decoration: none;color: #fff;}
}
@media (min-width: 481px) and (max-width: 767px) {
    .login_bg{  padding: 50px 40px;}
}
@media (max-width: 640px) {
        .pagination.pagination_div{display: block;}
}
@media(max-width: 480px) {
    .login_header h1{font-size: 30px;padding: 30px 0;}
    .login_bg{ padding: 20px 20px;}
    .checkout_btn{float: left;width: 100%;padding: 0px;}
    .photosession_info > p{margin: 15px;}
    .totalamt_div > p{border: 0px;}
    .booking_content h1{font-size: 24px;}

}
.form-group .col-md-6 {
    padding-bottom: 20px;
}
.form-group .col-md-12 {
    padding-bottom: 20px;
}
.createbtn a {
    background: #434547 none repeat scroll 0 0;
    color: #fff;
    float: right;
    margin-top: 0;
    padding: 10px 15px;
}
.selectdiv.createbtn{padding-top: 9px;}

.formarea span.form-control {
    border: 1px solid #e2e2e2;
    border-radius: 4px;
    box-shadow: none;padding: 14px 10px;
    height: 50px;color:#afafaf;font-size: 16px;
}
.carousel-item.slideimg {
    float: left;
    width: 100%;height: auto;
}
.slide_text{color: #fff;}
.form-group.bookform_input {
    margin-bottom: 10px;
}
.occasion_div ul {
    height: 440px;
    overflow-y: scroll;
}
.summarydiv .editorder_btn > input {
    border: 1px solid #c8c8c8;
    float: left;
    height: 40px;
    padding: 0 10px;
    width: 100%;
}
.summarydiv .editorder_btn > a {
    float: left;
    margin-top: 20px;
}
.pagination_div .pagination{margin: 0px;}
.profile_sec {
    float: left;
    margin-top: 20px;
    width: 100%;
}
.nomargin {
    margin: 0;
}
.inputspace{padding-bottom: 20px;}
#searchfrm input.form-control {
    background-image: url("http://artsymakeupstudio.com/mrsportrait/public/images/grey_search.png");
    background-position: 98% center;
    background-repeat: no-repeat;
}
.formarea .form-group label.checkboxdiv {
    float: left;
    margin: 3px 6px;
    font-size: 13px;
    font-weight: 500;
    padding-left: 20px;
}
.buynowbtn a {
    margin-top: 20px;
    margin-bottom: 20px;
}

.alert.alert-success.alert-block {
    text-align: center;
    font-size: 17px;
}

.alert-success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}
/**session-css-start**/
.session_title h2 {
    color: #434547;
    font-size: 26px;
    margin-top: 0;
}
.bookingdetails_div {
    border: 1px solid #f5f5f5;
    float: left;
    width: 100%;
    margin-bottom:40px;
}
.bookingdet_header {
    background: #f5f5f5 none repeat scroll 0 0;
    float: left;
    height: 30px;
    margin-bottom: 20px;
    width: 100%;
}
.bookingdet_img > ul {
    list-style: outside none none;
    padding: 0;
}
.bookingdet_sec {
    float: left;
    padding: 0 20px;
    width: 100%;
}
.bookingdet_img li {
    color: #434547;
    float: left;
    padding-right: 15px;
    text-align: center;
    width: 25%;
}
.bookingdet_img li img {
    border: 2px solid #eeeeee;
    margin-bottom: 10px;
    width: 100%!important;
}
.sessionpricesec p{
    color: #cacaca;
    font-size: 34px;
}
.sessionpricesec p span{color: #D42E2F;}
.detail_info_content {
    padding: 0 10px;margin: 10px 0px;
}

.detail_info_content p {
    border-bottom: 1px solid #f5f5f5;
    color: #000;
    margin: 0;
    padding: 10px 0;font-size: 17px;
    overflow: hidden;
}
.detail_info_content span {
    color: #666;
    padding-left: 10px;
}
.addinfo_div > p {
    border: 0 none;
    padding-bottom: 0;
}
.addinfo_div .addinfo {
    color: #5a5a5a;
    font-size: 16px;
}
.detail_info span.note {
    color: #000;
    float: left;
    padding: 0;
    width: 10%;
}
.detail_info span.notetext {
    float: left;
    font-size: 15px;
    width: calc(100% - 10%);
}
.detail_info {
    padding-bottom: 20px;
}
.gallaryimg > img {
    width: 100%;
}
/*.gallaryimg {
    margin-bottom: 12px;
}*/
@media (max-width: 767px) {
.gallary_imges {
    margin-bottom: 70px;
}
.bookingdet_img li{   padding: 0 5px 0 0;
    width: 50%;}
    .sessionpricesec {text-align: left;}
    .detail_info_content p{font-size: 14px;}
    .detail_info_content span{padding-left: 0px;}
    .detail_info span.note{width: 100%;}
    .detail_info span.notetext{width: 100%;}
    .detail_info_content p{float: left;width: 100%;}
}
/**session-css-end**/

.dashboardicon_div{text-align: center;}
input#regpassword {
    background-image: none !important;
}input#regconfirmpassword {
    background-image: none !important;
}.reg_sec_pge {
    text-align: justify;
}


.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-family: 'Amiri' !important;}
 p {
    font-family: 'Roboto' !important;
}
img.phot_img_new{

    height: 125px !important;
}
.loginmodal .modal-header { padding: 0px !important;}

/* user1 css*/

.navbar-nav>.user-menu>.dropdown-menu>li.user-header {
    height: 175px;
    padding: 10px;
    text-align: center;
}
.skin-blue .main-header li.user-header {
    background-color: #3c8dbc;
}.navbar-nav>.user-menu>.dropdown-menu>li.user-header {
    height: 175px;
    padding: 10px;
    text-align: center;
}
.img-circle {
    border-radius: 50%;
}.navbar-nav>.user-menu>.dropdown-menu>li.user-header>img {
    z-index: 5;
    height: 90px;
    width: 90px;
    border: 3px solid;
    border-color: transparent;
    border-color: rgba(255,255,255,0.2);
}
.navbar-nav>.user-menu>.dropdown-menu>.user-body {
    padding: 15px;
    border-bottom: 1px solid #f4f4f4;
    border-top: 1px solid #dddddd;
}.navbar-nav>.user-menu>.dropdown-menu>.user-footer {
    background-color: #f9f9f9;
    padding: 10px;
}

img.user-image.img-circle {
    width: 38px;
    height: 38px;
    float: left;
}
.uth_name{color:#fff;}
/* end css*/
li.dropdown.user.user-menu {
    width: 150px;
    margin-top: 3%;
    margin-left: 6px;
}p.uth_name {
    margin-top: 6%;
    padding-left: 35% !important;
}
.profile_iug {
    text-align: center;
}
.profile_iug .img-circle {
    width: 90px;
    height: 90px;
    text-align: center;
}
ul.dropdown-menu.hedsec {
    margin-top: 10px;
    background: #434547 !important;
    width: 170px;
}
li.user-header {
    width: 100%;
    text-align: center;
}li.user-body {
    text-align: center;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}li.user-footer {
    width: 100%;
    padding-left: 5%;
    padding-right: 5%;
}
.auth_name_text{
    color:#fff;
}

/* user2 css*/
#fbicon {
    color: #3B5998;
}

#twitricn {
    color: #1DA1F2;
}

#instaicon {
    color: #e95950;
}
/* end css*/




/* user3 css*/
.form_bg { padding: 31px 120px important; }
.pastdate {
    color: #fff !important;
}
.textsection > span {
    color: #4e4e4e;
    float: left;
    font-size: 14px;
    line-height: 21px;
    margin-top: 7px;
    width: 100%;
    text-align: justify;
}
.signup_rightside p {

    color: #000;
    font-size: 18px;

} 
.formarea .form-group label.checkboxdiv {
    float: left;
    margin: 0px 6px;
   
    font-size: 16px;
}

.formarea input.form-control {
    border: 1px solid #e2e2e2;
    border-radius: 4px;
    box-shadow: none;
    height: 35px;
    color: #afafaf;
    font-size: 16px;
}

.tel_code > span {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #e2e2e2;
    border-radius: 4px;
    color: #afafaf;
    float: left;
    font-size: 16px;
    height: 35px;
    padding: 5px 0;
    text-align: center;
    width: 100%;
}
.textsection h2 {
    color: #f07677;
    font-size: 18px;
    margin: 0;
}
.formarea select.form-control {
    border: 1px solid #e2e2e2;
    border-radius: 4px;
    box-shadow: none;
    background-image: url("../images/dropdownicon.png");
    background-repeat: no-repeat;
    background-position: 98%;
    background-color: #fff;
    height: 35px;
    color: #afafaf;
    font-size: 16px;
    -moz-appearance: none;
    -webkit-appearance: none;
}
/* end css*/

.form_bg {
    background: #f8f8f8 none repeat scroll 0 0;
    border: 1px solid #efefef;
    float: left;
    padding: 30px 120px;
    width: 100%;}

    .com_busin_sec {
    color: #5c5c5c;
    font-weight: 600;
    font-size: 24px;
    padding-left: 1%;
    padding-bottom: 1%;
}

.pagination{
    float: right !important;
}
#page {
    float: left;
}
.control-label.lblcls {
    width: 100%;
    float: left;
}
.line_div {
    border-bottom: 2px solid;
    margin-bottom: 20px;
    width: 100%;
    float: left;
}
.tabledata:hover {
    background: #f5f5f0 !important;
}
.input-group.input-group-sm {
    width: 212px;
}
.input-group-btn:last-child > .btn
{
    z-index: 2;
    margin-left: -1px;
    height: 45px;
}
.topcls{
    margin-top:20px;
}
.butn_edit_neupdates {
    margin-top: 2%;
}

/*newcss*/

.createbtn a {
    background: #434547 none repeat scroll 0 0;
    color: #fff;
    float: right;
    margin-top: 0;
    padding: 5px 5px;
    height: 30px;
    text-align: center;
}
.col-sm-8.main {
    margin-top: 17px;
}
input#s {
    height: 32px;
}
.input-group-btn:last-child > .btn {
    z-index: 2;
    margin-left: -1px;
    height: 32px;
}
.gally_sec_img_edit {
    margin-top: 21px;
}
.ct_fet_img {
    padding-left: 22px;
}
.feat_img_blog{padding-top:20px;}
/*************************************
**************************************
    Gourav-css-23-agu-2018
**************************************
***************************************/
.noti_sec {
    top:0;
    right:0;
}
.flx_mid {display: flex;align-items: center;flex-wrap: wrap;}
.gallary_imgs {
    border: 5px solid #ccc;
    margin-bottom: 20px;
}
.cus_wid100 {width:100%;height: 100px;}  
.img_border {
    border: 4px solid #ccc;
    height: 170px;
    width: 100%;
    margin-bottom:30px;
}
.delete_btn {
    position: absolute;
    right: 19px;
    border: 2px solid #484848;
    color: #fff;
    background-color: #484848;
    padding: 0px 5px;
    top: 4px;
    font-weight: bold;
}
.delete_btn:hover {color:#fff;}
label {
  
    padding: 5px;
}
.nopaddingh2 {
    margin: 0px;
}
.dropzone {
    /* min-height: 50px; */
    border: 2px solid rgba(0,0,0,0.3);
    background-color: #eee;
    padding: 20px 0px;
    width: 100%;
    margin: 20px 0px;
}
.dashboard_section {
    display: flex;
    flex-wrap: wrap;
}
.form-group {margin-bottom:0px;}
.selectdiv select {padding:0px 5px;}
img.img-responsive.home_post_img {
    width: 100%;
    height: 270px;
}
.buttondiv {
    margin-bottom: 40px;
}
.col-sm-6.form-group.forminput i.fa.fa-eye.icon {
    position: absolute;
    right: 30px;
    top: 11px;
}
.delete_btn_new {
    position: absolute;
    top: -14px;
    left: 14px;
    font-weight: 900;
}
.single_img {position: relative;}

.loginmodal .login_bg.form_bg span.continue {position: relative;}

.loginmodal .login_bg.form_bg span.continue:before {
    border-top: 1px solid;
    content: "";
    position: absolute;
    width: 200px;
    display: inline-block;
    left: 0;
    top: 9px;  
}
.loginmodal .login_bg.form_bg span.continue:after {
    border-top: 1px solid;
    content: "";
    position: absolute;
    width: 200px;
    display: inline-block;
    right: 0;
    top: 9px;
}
/*************************************
**************************************
    Gourav-css-27-agu-2018
**************************************
***************************************/
li.tog_item {
    padding: 7px 20px;
    font-size: 10px!important;
    display: none;
}
.tog_item .i-one {
    width: 15px;
}
.red {padding:12px 0px;}
.flex_important {display: flex;flex-wrap: wrap;}
.instagram_imges img {
    width: 100%;
}
.relatedpost_blk {
    background-color: #ffffff;
    margin: 10px;
    padding: 0px;
   /* border-radius: 10px 10px 0px 0px;*/
    border: 1px solid rgb(232, 232, 232);
    box-shadow: 3px 7px 11px 4px #eee;
    flex:1;
}
.relatedpost_div {
    display: flex;
    flex-wrap: wrap;
}
img.img_sidbar_img {
    width: 100%;
    height: 80px;
    border: 4px solid #ccc;
    margin-bottom: 10px;
}
/*.singleclassview_para {
    background: #f9f9f9 none repeat scroll 0 0;
    border: 1px solid #eaeaea;
    padding: 20px;
    float: left;
    width: 100%;
    margin-bottom: 20px;
    border-radius: 10px;
}*/
.singleview_bg p {
    font-size: 14px;
    font-weight: 300;
    color: #828282;
}
.singleview_bg > h2 {
    font-size: 20px;
    font-weight: 500;
    color: #484848;
}

.singleclassview_para p {
    font-size: 14px;
    font-weight: 300;
    color: #828282;
}
.singleclassview_para > h2 {
    font-size: 20px;
    font-weight: 500;
    color: #484848;
}
.instructor_img i {
    padding-right: 10px;
    color: #2d2d2d;
}
.instructor_img span {
    font-size: 14px!important;
    font-weight: 300;
    color: #828282!important;
}
.gallary_sec h2 {
    font-size: 20px;
    font-weight: 500;
    color: #484848;
    margin-bottom: 20px;
}
.stud_feed h2 {
    padding-bottom: 20px;
}
#step1back {
    cursor: pointer;
    border: 1px solid;
    padding: 5px;
}
.col-sm-4.blogdiv {
    padding: 0px;
    flex: 1;
    margin: 10px;
    background: #fff none repeat scroll 0 0;
    border: 1px solid rgb(232, 232, 232);
    box-shadow: 3px 7px 11px 4px #eee;
}
.blog_content_padd {
    padding: 20px;
}
.col-sm-6.blogbtn {
    margin: 15px 0px 0px 0px;
}
.col-sm-6.blogicon.text-right {
    margin: 15px 0px 0px 0px;
}
.blog_content {
    padding-top: 10px;
}
.big_section_img {
    width: 100%;
    height: 400px;
    object-fit: cover;
}
p.singalname {
    padding: 20px 0px;
}
img.img-responsive.abut_img_round {
    border-radius: 50%;
    height: 115px;
    width: 115px;
    margin: 0 auto;
}
.aboutimg_section {
    margin: 20px 0px;
}
.white_box.col-sm-12 {
    background-color: #eee;
    padding: 20px 0px;
}

img.session_gallery {
    width: 100%;
    height: 250px;
    margin-bottom: 30px;
    object-fit: cover;
    box-shadow: 0px 0px 10px #cccccc;
    /*border: 10px solid #f9ecec;*/
}
.related_posts {
    padding-bottom: 80px;
    padding-top: 50px;
}
.blog_sec {
    margin: 10px 0px !important;
    text-align: left !important;
    font-size: 20px !important;
    font-weight: 600 !important;
}
.single_img {
    float: left;
}
.loginmodal .login_bg.form_bg span {
    font-size: 14px!important;
}
.login_form label {padding-left: 0px;}
.loginmodal .checkbox .checkboxdiv {padding-left:20px;}
/*.tooltip.fade.top.in {background-color: red;}*/
@media only screen and (max-width: 980px) {

    :root {font-size: 6px;}  

}
@media only screen and (max-width: 600px) {

    :root {font-size: 4px;}  
    .carousel-bg .slide_text {
    padding: 100px 0px;
}
.mar_auto{margin:0 auto;}
.col-sm-4.blogdiv {
    flex:none;
    width: 100%;}
    .comingsoon_btn {flex-wrap:wrap;}

}
@media only screen and (max-width: 425px) {

    :root {font-size: 2px;}  

}


.btn_expt {
    background: #666;
    padding: 5px 10px;
    color: #fff;font-size: 18px;
}
.dropdown.head-dropdown
 {
  display: block;
  float: right;
}

.dropdown.head-dropdown  
.dropdown-menu {    
position: absolute;    
top: 100%;    left: auto;    
right: 0px;    
}
 .dropdown.head-dropdown a#dLabel {
    background: #434547 none repeat scroll 0 0;   
 color: #fff;    float: right;    margin-top: 0;
    padding: 13px 35px; 
   height: auto; 
   text-align: center;
    font-size: 15px;
} 

.dropdown.head-dropdown ul.dropdown-menu li a
 {    float: left;    background: transparent;   
 font-size: 16px; 
   display: block;
    width: 100%; 
   text-align: left;
    padding: 5px 10px;
}
.sidebar ul li {
    border-top: solid 1px;   
 border-bottom: solid 1px;}

.sidebar ul.list-sidenav li 
{    
list-style: outside none none;
    padding: 0px;
}
.sidebar ul.list-sidenav a
 { 
   color: #fff;    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    padding: 15px 20px;
    display: block;
}

.sidebar .list-sidenav a { 
   color: #fff; 
   font-size: 16px;
    font-weight: 500;
    cursor: pointer; 
   padding: 15px 20px;
    display: block;
}
.sidebar ul .list-sidenav i
 {    float: left;
    padding-top: 3px; 
   width: 40px;
    font-size: 22px;
}
.list-sidenav a:hover 
{   
 background: #011624;
}
/*cart dropdown css here*/ li.dropdown.dropdown-cart .dropdown-menu { font-family: 'Roboto', sans-serif; position: absolute; top: 100%; left: -200px; padding: 10px 10px; min-width: 580px; } li.c_head label { font-weight: 400; font-size: 18px; margin: 0px; color: #dd4649; } li.dropdown.dropdown-cart .dropdown-menu { display: block !important; } .item-name { width: 45%; display: block; } .item-quantity { width: 30%; display: block; padding:0 10px; } .item-price { width: 15%; display: block; padding:0 10px; } .item-action { width: 10%; display: block; } .item-name span.e-media { width: 30%; display: block; float: left; margin-right:10px; } .item-name span.e-media img { width: 100%; } .item-name label, .item-quantity label, .item-price label, .item-action label { /* border-bottom: solid 1px #f1eeee; padding-bottom: 10px; margin-bottom: 10px;*/ } .item-name label, .item-quantity label, .item-price label, .item-price span { width: 100%; display: block; } .item-action a { margin: 0px !important; } a.btn.btn-primary.btn-block { text-align: center; padding: 7px 10px; } a.btn.btn-primary.btn-block i { margin:0px !important; padding:0px; } li.dropdown.dropdown-cart ul.dropdown-menu li { display: -webkit-box; } li.dropdown.dropdown-cart ul.dropdown-menu li.item-list { border-bottom: solid 1px #f1eeee; padding-bottom: 10px; margin-bottom: 10px; } li.c_head { padding: 15px 15px; background: #f1eeee; margin-bottom: 20px; } li.item-list span.total-price { display: block; text-align: right; width: 100%; } li.item-checkout a { margin: 0px; width: 100%; } @media (max-width:1366px) { li.dropdown.dropdown-cart .dropdown-menu { position: absolute; top: 100%; left: -395px; padding: 10px 10px; min-width: 490px; } /*cart css end here*/

/*marketing css*/
.card-body.marketing-mater .col-md-4 .col_media {
    text-align: center;
}
.card-body.marketing-mater .col-md-4 .col_media img.img-circle {
    width: 100% !important;
    padding-bottom: 6px;
}
.card-body.marketing-mater .col-md-4 .col_media {
    text-align: center;
    margin: 25px;
    padding: 7px;
    border: solid 1px #cccccc;
    border-radius: 8px;
}
.card-body.marketing-mater .col-md-4 .col_media a.btn.btn-primary {
    margin: 0px;
    width:100%;
}

/*end mrketing css*/


























