/* Force table to not be like tables anymore */
@media (min-width:768px){
.column1{width:5%;float:left;}
.column2{width:10%;float:left;}
.column3{width:15%;float:left;}
.column4{width:20%;float:left;}		
.column5{width:25%;float:left;}
.column6{width:30%;float:left;}
.column7{width:35%;float:left;}
.column8{width:40%;float:left;}
.column9{width:45%;float:left;}
.column10{width:50%;float:left;}
.column11{width:55%;float:left;}
.column12{width:60%;float:left;}
.column13{width:65%;float:left;}
.column14{width:70%;float:left;}
.column15{width:75%;float:left;}
.column16{width:85%;float:left;}
.column17{width:95%;float:left;}
.tabledata.new{display: flex;display:-webkit-flex;align-items: center;-webkit-align-items:center;}
}

@media (max-width:767px){

	
	/* Hide table headers (but not display: none;, for accessibility) */
	.tablediv thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	
	.tablediv tr { border: 1px solid #ccc; }
	
	.tablediv td { 
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
		padding-left: 50% !important;float: left;width: 100%; 
	}
	
	.tablediv td:before { 
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
	}
	
	/*
	Label the data
	*/
	/**summary-start***/
	.summary td:nth-of-type(1):before { content: "No"; }
	.summary td:nth-of-type(2):before { content: "First Name"; }
	.summary td:nth-of-type(3):before { content: "Last Name"; }
	.summary td:nth-of-type(4):before { content: "Present"; }
	.summary td:nth-of-type(5):before { content: "Late"; }
	.summary td:nth-of-type(6):before { content: "Auth Absent"; }
	.summary td:nth-of-type(7):before { content: "Unauth Absent"; }
	.summary td:nth-of-type(8):before { content: "Total Sessions"; }
	/**summary-end**/
}