.*
{
   font-family: 'Raleway', sans-serif;
}
html,
body {
  padding: 0;
  margin: 0;
  background: #fff;
  letter-spacing: 1px;
 font-family: 'Raleway', sans-serif;
    overflow-x: hidden !important;
}

body a {
  outline: none;
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
  -ms-transition: 0.5s all;
  text-decoration: none;
}

body a:hover {
  text-decoration: none;
}

body a:focus,
a:hover {
  text-decoration: none;
}

input[type="button"],
input[type="submit"] {
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
  -ms-transition: 0.5s all;
  letter-spacing: 1px;
  font-family: 'Raleway', sans-serif;
}

select,
input[type="email"],
input[type="text"],
input[type=password],
input[type="button"],
input[type="submit"],
textarea {
  font-family: 'Raleway', sans-serif;
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
  -ms-transition: 0.5s all;
  letter-spacing: 1px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  letter-spacing: 1px;
 
}

p {
  margin: 0;
  padding: 0;
  letter-spacing: 1px;
  font-family: 'Raleway', sans-serif;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

ul li {
  display: inline-block;
}

/*-- //Reset-Code --*/

.title {
    font-size: 28px;
    color: #dc3545;
    font-weight: 400;
    letter-spacing: 1px;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    padding: 0;
    margin: 20px 0 50px 0;
    display: block;
}

.clr {
  color: #fff;
}

.agile-left-side-img p,
.blog-txt-info p,
.clients-w3layouts-txt p,
.meet-hostory-us p,
.groom-bride-grid p,
.event-blog-agile p,
.contact-list-grid p,
.contact-list-grid p a {
  font-size: 14px;
  color: #000;
  line-height: 28px;
}

.video-info-img p {
  color: #fff;
}

.blog-txt-info h4 a,
.clients-w3layouts-txt h4,
.time-agile-title h3,
.groom-bride-grid h4,
.blog-wthree-info h4,
.sub-head h4,
.contact-list-grid h6 {
  font-size: 22px;
  color: #4292ec;
  text-transform: capitalize;
  font-weight: 600;
}

.news-date ul li {
  list-style: none;
  display: inline-block;
}


/*-- header --*/

.header-outs {
  position: relative;
  background: url(/public/images/main-banner.jpg) no-repeat 0px 0px;
  background-position: bottom center;  
  -webkit-background-size: cover;
  -moz-background-size: cover;  
  -o-background-size: cover;  
  -ms-background-size: cover;  
  min-height: 800px;
}

h1 a.navbar-brand {
  padding: 21px 0px 0px;
  font-size: 31px;
  color: #ffa2df !important;
  text-transform: capitalize;
  font-weight: 700;
  letter-spacing: 2px;
  margin-left: 0px;
  margin-right: 0px;
  text-shadow: -1px 1px #212121;
}

h1 a.navbar-brand span {
  font-size: 20px;
  font-weight: 700;
  color: #ffffff;
  display: block;
  text-transform: capitalize;
  line-height: 35px;
  margin: 0px 44px;
}

.header-w3layouts {
  position: absolute;
  width: 100%;
  z-index: 9999;
  background: transparent;
}

nav.navbar.navbar-expand-lg.navbar-light {
  background: rgba(0, 0, 0, 0);
  z-index: 999;
  padding: 0px;
}

ul.navbar-nav.nav-fill {
  width: 100%;
}

.navbar-light .navbar-nav .active>.nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show>.nav-link,
.dropdown-item.active,
.dropdown-item:active {
  color: #e14143;
  background: transparent;
}

.navbar-light .navbar-nav .nav-link {
  color: #fff;
  font-size: 12px;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 600;
  margin: 0px 4px;
  padding: 12px 17px;
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
  -ms-transition: 0.5s all;
  font-family: 'Raleway', sans-serif;
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover,
.dropdown-item:focus,
.dropdown-item:hover {
color: #e14143;}

.navbar-light .navbar-nav.active>.nav-link,
.navbar-light .navbar-nav.nav-link.active,
.navbar-light .navbar-nav.nav-link.open,
.navbar-light .navbar-nav .open>.nav-link {
  color: #e14143;
}
.navbar-collapse {
    padding-right: 0px;
  }

/*-- //nav --*/
/*cart dropdown css*/
li.dropdown.dropdown-cart .dropdown-menu {
  font-family: 'Roboto', sans-serif;
    position: absolute;
    top: 100%;
    left: -200px;
    padding: 10px 10px;
    min-width: 490px;
  }

li.dropdown.dropdown-cart ul.dropdown-menu li {
    display: -webkit-box;
}
li.dropdown.dropdown-cart ul.dropdown-menu li table, li.dropdown.dropdown-cart ul.dropdown-menu li tbody, li.dropdown.dropdown-cart ul.dropdown-menu li tr
{
    display: block;
    width: 100%;
}
li.dropdown.dropdown-cart ul.dropdown-menu li table tr {
    border-bottom: solid #cccccc 1px;
}
li.c_head {
    font-size: 20px;
    text-transform: uppercase;
    padding: 10px 0;
    color: #e14143;
}
li.dropdown.dropdown-cart ul.dropdown-menu li table tr.t-head {
    background: #eaeaea;
    text-transform: uppercase;
}

li.dropdown.dropdown-cart ul.dropdown-menu li tr td {
    padding: 10px 10px;
    display: inline-block;
}
td.item-name {
    width: 40%;
}
td.item-qty {
       width: 15%;
}
td.item-price {
       width: 20%;
}
td.c-action {
    
    display: block;
       width: 20%;
}
span.c-media {
    float: left;
    width: 40%;
}
span.e-name {
    padding-left: 10px;
    float: right;
    width: 55%;
}
span.c-media img {
    width: 100%;
    float: left;
}
td.c-action a {
    background: #e14143;
    padding: 5px 10px;
    font-size: 12px;
}
td.c-space {
    width: 38.8%;
}
td.c-act {
    width: 60%;
    text-align: right;
}
span.total-amt {
    text-align: left;
    float: left;
}
span.total-amt label {
    display: block;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 300 !important;
  }
  span.t-pamt {
    display: block;
    font-size: 16px;
    font-weight: 600;
}
li.dropdown.dropdown-cart span.alert.badge {
    background: #dd4649;
    border-radius: 50px;
    height: 45px;
    width: 45px;
    margin: 0px;
    text-align: center;
}
@media (max-width:1366px)
{
  li.dropdown.dropdown-cart .dropdown-menu {
    position: absolute;
    top: 100%;
    left: -395px;
    padding: 10px 10px;
    min-width: 490px;
}
}
.banner-slide-img {
  padding-top: 22em;
}

.banner-bride-name h4 {
  font-size: 35px;
  font-weight: 700;
  color: #fff;
  text-transform: capitalize;
  letter-spacing: 2px;
  text-shadow: -3px 1px 8px black;
  font-family: 'Tangerine', cursive;
}

.banner-groom-name h4 {
  font-size: 5em;
  margin-top: 20px;
  color: #4292ec;
  text-transform: capitalize;
  letter-spacing: 5px;
  font-weight: 700;
  text-shadow: 0px 1px #000000;
}


/*--// banner-- */


/*-- //header --*/


/*--About --*/

.wedding-graph {
  position: relative;
}

.imglogo{
width: 125px;

height: 85px;
}
.groom-left-agile {
  position: absolute;
  top: 113px;
  right: -30px;
  width: 59%;
  transform: rotate(-11deg);
  -webkit-transform: rotate(11deg);
  -moz-transform: rotate(-11deg);
  -ms-transform: rotate(-11deg);
  -o-transform: rotate(-11deg);
}

.wed-both {
  position: absolute;
  top: 87px;
  width: 59%;
  left: -94px;
  transform: rotate(-10deg);
  -webkit-transform: rotate(-10deg);
  -moz-transform: rotate(-10deg);
  -ms-transform: rotate(-10deg);
  -o-transform: rotate(-10deg);
}

.groom-left-agile img,
.wed-both img,
.bride-right-agile img {
  border: 3px solid #e14143;
  padding: 2px;
}

.jst-wthree-text h2 {
  font-size: 35px;
  color: #4292ec;
  font-weight: 600;
}


/*--aboutinner-- */

.bride-image-w3layouts {
  background: url(../images/bride.jpg) no-repeat 0px 0px;
}

.groom-image-w3layouts {
  background: url(../images/groom.jpg) no-repeat 0px 0px;
}

.bride-image-w3layouts,
.groom-image-w3layouts {
  background-size: cover;
  min-height: 378px;
}

.groom-bride-grid h4 span {
  font-size: 15px;
  padding-left: 18px;
  color: #e14143;
}

.groom-bride-grid {
  padding: 3em 2.5em;
}

.outs_more-buttn a {
  font-size: 16px;
  color: #000;
  text-decoration: none;
  text-transform: capitalize;
  display: inline-block;
  letter-spacing: 2px;
  background: transparent;
  outline: none;
  padding: 9px 25px;
  border-radius: 50px;
  border: 4px double #FFA2E0;
  margin-top: 17px;
}

.outs_more-buttn a:hover {
  background: #4292ec;
  color: #fff;
}

.social-media ul li span {
  font-size: 15px;
  letter-spacing: 0px;
  text-align: center;
  width: 35px;
  height: 35px;
  line-height: 35px;
  background: #4292ec;
  border-radius: 50px;
  margin: 0px 4px;
  color: #fff;
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
  -moz-transition: 0.5s all;
}

.social-media ul li span:hover {
  background: #e14143;
}


/*--// aboutinner-- */


/*--// about-- */


/*-- inner-banner --*/

.inner_page-banner {
  text-align: center;
  background: url(../images/b4.jpg) no-repeat center;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -ms-background-size: cover;
  min-height: 300px;
}

ul.short_ls li a {
  color: #ffffff;
  text-decoration: none;
}

ul.short_ls li {
  list-style: none;
  display: inline-block;
  letter-spacing: 1px;
  font-size: 14px;
}

.using-border {
  width: 100%;
  border: none;
  background: #4292ec;
  text-align: center;
}


/*-- //inner-banner --*/


/*--timer--*/

.date {
  background: url(../images/d1.jpg)no-repeat center;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -ms-background-size: cover;
}

.examples {
  width: 50%;
  margin: 0px auto;
}

.simply-countdown {
  overflow: hidden;
  display: table;
}

.simply-countdown>.simply-section {
  width: 137px;
  height: 137px;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  float: left;
  /*margin: 15px;*/
  background: rgba(255, 255, 255, 0.6196078431372549);
  /* box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); */
}

.simply-countdown>.simply-section .simply-amount {
  font-size: 61px;
  color: rgba(0, 0, 0, 0.47);
  line-height: 75px;
}

.simply-countdown>.simply-section .simply-word {
  font-size: 17px;
  color: #000;
  font-style: italic;
  font-weight: 500;
  letter-spacing: 3px;
  text-transform: capitalize;
}

.simply-countdown>.simply-section .simply-amount,
.simply-countdown>.simply-section .simply-word {
  display: block;
  text-align: center;
}


/*--//timer--*/


/*--//about --*/


/*-- story-- */

.vtimeline {
  position: relative;
  padding: 30px;
  overflow: hidden;
}

.vtimeline:before {
  content: '';
  position: absolute;
  height: 100%;
  width: 4px;
  background: #e14143;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.vtimeline-point {
  position: relative;
  width: 100%;
  margin-bottom: 30px;
}

.vtimeline-icon {
  position: absolute;
  top: 10px;
  height: 25px;
  width: 25px;
  left: 0;
  right: 0;
  margin: 0 auto;
  border-radius: 50%;
  background: #4292ec;
}

.vtimeline-block {
  width: 45%;
  margin: 0;
  transition: 0.5s ease all;
}

.vtimeline-block:after {
  content: '';
  position: absolute;
  top: 13px;
  left: 45%;
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 10px solid #e14143;
  border-right: none;
}

.vtimeline-right {
  margin-left: 55%;
}

.vtimeline-right.vt-animate-slide .vtimeline-content {
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
}

.vtimeline-right .vtimeline-date {
  left: auto;
  right: 55%;
}

.vtimeline-right:after {
  left: auto;
  right: 45%;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: none;
  border-right: 10px solid #e14143;
}

.vtimeline-date {
  position: absolute;
  left: 55%;
  top: 15px;
  font-size: 17px;
  color: #fff;
  padding: 9px;
  background: #e14143;
}

.vtimeline-content {
  padding: 2em 1.5em;
  transition: 0.5s ease all;
  border: 2px solid #4292ec;
  box-shadow: -4px 3px 15px black;
}

.vt-animate-fade {
  opacity: 0;
}

.vt-animate-slide {
  opacity: 0;
}

.vt-animate-slide .vtimeline-content {
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
}

.vt-noarrows:after {
  content: none;
}

@media only screen and (max-width: 992px) {
  .vtimeline:before {
    left: 30px;
    right: auto;
    margin: 0;
  }
  .vtimeline-icon {
    left: -10px;
    right: auto;
    margin: 0;
  }
  .vtimeline-block {
    width: 85%;
    margin-left: 15%;
  }
  .vtimeline-block:after {
    left: auto;
    right: 85%;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: none;
    border-right: 10px solid #e14143;
  }
  .vtimeline-date {
    position: relative;
    display: block;
    top: 0;
    left: 0;
    right: auto;
  }
  .vtimeline-right .vtimeline-date {
    right: auto;
  }
  .vtimeline.basic .vtimeline-date {
    padding: 10px 10px 0 10px;
  }
  .vt-animate-slide .vtimeline-content {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
}


/*--// story-- */


/*--blog-- */

.line-w3ls-title {
  width: 100%;
  height: 2px;
  margin: 10px 0px 15px;
  background: #afafaf;
}


/*--//blog-- */


/*-- Wedding Journal-- */

.carousel-indicators li {
  width: 9px;
  height: 9px;
  border-radius: 50px;
  margin: 0px 7px;
  background-color: rgb(0, 0, 0);
}

.carousel-indicators .active {
  background-color: #e14143;
  cursor: pointer;
}

.carousel-indicators {
  bottom: -51px;
}

.clients-color {
  padding: 20px;
  background: #e14143;
  box-shadow: -1px -1px 6px black;
}

.news-date ul li a {
  letter-spacing: 2px;
  color: #222;
  text-decoration: none;
  font-weight: 600;
  font-size: 14px;
}

.news-date ul li span {
  color: #ff3b9f;
  padding-right: 10px;
}


/*-- //Wedding Journal-- */


/*-- gallery hover-- */

.grid {
  position: relative;
  list-style: none;
  text-align: center;
}


/* Common style */

.grid figure {
  position: relative;
  overflow: hidden;
  background: #3085a3;
  text-align: center;
  cursor: pointer;
  margin: 0 0 0em;
}

.grid figure img {
  position: relative;
  display: block;
  min-height: 100%;
  max-width: 100%;
  opacity: 0.5;
}

.grid figure figcaption {
  padding: 2em 2em;
  color: #fff;
  text-transform: uppercase;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}


/*.grid figure figcaption::before,
.grid figure figcaption::after {
  pointer-events: none;
}*/

.grid figure figcaption,
.grid figure figcaption>a {
  position: absolute;
  top: 40px;
  left: 0;
  width: 100%;
  height: 100%;
}


/* Anchor will cover the whole item by default */


/* For some effects it will show as a button */

.grid figure figcaption>a {
  z-index: 1000;
  text-indent: 200%;
  white-space: nowrap;
  font-size: 0;
  opacity: 0;
}

.grid figure h6 {
  word-spacing: -0.15em;
  font-weight: 300;
}

.grid figure h6 span {
  font-weight: 800;
  font-size: 18px;
  text-transform: capitalize;
  color: #000;
}

.grid figure h6,
.grid figure p {
  margin: 0;
}

.grid figure p {
  letter-spacing: 1px;
  font-size: 12px;
  padding: 5px 0px 0px;
}


/*-----------------*/


/***** Selena *****/


/*-----------------*/

figure.effect-selena {
  background: #4292ec;
}

figure.effect-selena img {
  opacity: 0.95;
  -webkit-transition: -webkit-transform 0.35s;
  transition: transform 0.35s;
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
}

figure.effect-selena:hover img {
  -webkit-transform: scale3d(0.95, 0.95, 1);
  transform: scale3d(0.95, 0.95, 1);
}

figure.effect-selena h6 {
  -webkit-transition: -webkit-transform 0.35s;
  transition: transform 0.35s;
  -webkit-transform: translate3d(0, 20px, 0);
  transform: translate3d(0, 20px, 0);
  font-size: 19px;
  font-weight: 700;
  color: #ffffff;
}

figure.effect-selena p {
  opacity: 0;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: perspective(1000px) rotate3d(1, 0, 0, 90deg);
  transform: perspective(1000px) rotate3d(1, 0, 0, 90deg);
  -webkit-transform-origin: 50% 0%;
  transform-origin: 50% 0%;
}

figure.effect-selena:hover h6 {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}


/*figure.effect-selena:hover p {
  opacity: 1;
  -webkit-transform: perspective(1000px) rotate3d(1,0,0,0);
  transform: perspective(1000px) rotate3d(1,0,0,0);
}*/


/*--// gallery hover-- */


/*--Typography-- */

.sub-title span.border {
  width: 70px;
  height: 71px;
  margin: 12px;
  display: inline-block;
  background: #f7f7f7;
}

.progress-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: #fff;
  text-align: center;
  background-color: #007bff;
  transition: width .6s ease;
}

.table>thead>tr>th,
.table>tbody>tr>th,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>tbody>tr>td,
.table>tfoot>tr>td {
  font-size: 13px;
  color: #7d7d7d;
  border-top: none !important;
}

.table td,
.table>tbody>tr>td,
.table>tbody>tr>th,
.table>tfoot>tr>td,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>thead>tr>th {
  padding: 15px!important;
}


/*--//Typography-- */


/*-- friends &honors-- */

.honors {
  background: url(../images/f1.jpg)no-repeat center;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -ms-background-size: cover;
}

.clients-news-agile img {
  background: #4292ec;
  padding: 16px;
}

.clients-w3layouts-txt {
  background: rgba(255, 255, 255, 0.7);
  padding: 15px;
}

.clients-w3layouts-txt h6 {
  font-size: 16px;
  color: #e91e63;
  font-weight: 600;
  letter-spacing: 2px;
}


/*-- //friends &honors-- */


/*--Crazy Movements-- */

#flexiselDemo3 {
  display: none;
}

.nbs-flexisel-container {
  position: relative;
  max-width: 100%;
}

.nbs-flexisel-ul {
  position: relative;
  width: 99999px;
  margin: 0px;
  padding: 0px;
  list-style-type: none;
  text-align: center;
  overflow: auto;
}

.nbs-flexisel-inner {
  position: relative;
  overflow: hidden;
  float: left;
  width: 100%;
  background: #fcfcfc;
  /*background:-moz-linear-gradient #fcfcfc (top, #fcfcfc 0%, #eee 100%); /* FF3.6+ */
  /*background:-webkit-gradient #fcfcfc (linear, left top, left bottom, color-stop(0%,#fcfcfc), color-stop(100%,#eee)); /* Chrome,Safari4+ */
  /*background:-webkit-linear-gradient #fcfcfc(top, #fcfcfc 0%, #eee 100%); /* Chrome10+,Safari5.1+ */
  /*background:-o-linear-gradient #fcfcfc(top, #fcfcfc 0%, #eee 100%); /* Opera11.10+ */
  /*background:-ms-linear-gradient #fcfcfc(top, #fcfcfc 0%, #eee 100%); /* IE10+ */
  /*background:linear-gradient #fcfcfc(top, #fcfcfc 0%, #eee 100%); /* W3C */
  border: 1px solid #ccc;
  border-radius: 0px;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
}

.nbs-flexisel-item {
  float: left;
  margin: 0px;
  padding: 0px;
  position: relative;
  line-height: 0px;
}

.nbs-flexisel-item img {
  max-width: 100%;
  position: relative;
}


/*** Navigation ***/

.nbs-flexisel-nav-left,
.nbs-flexisel-nav-right {
  padding: 5px 10px;
  border-radius: 15px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  position: absolute;
  cursor: pointer;
  z-index: 4;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
}

.nbs-flexisel-nav-left {
  left: 10px;
}

.nbs-flexisel-nav-left:before {
  content: "<"
}

.nbs-flexisel-nav-left.disabled {
  opacity: 0.4;
}

.nbs-flexisel-nav-right {
  right: 5px;
}

.nbs-flexisel-nav-right:before {
  content: ">"
}

.nbs-flexisel-nav-right.disabled {
  opacity: 0.4;
}


/*-- //Crazy Movements-- */


/*-- contact--*/

.contact-forms input,
.contact-forms select,
.contact-forms textarea {
  width: 100%;
  font-size: 14px;
  color: #000;
  padding: .8em .9em;
  border: 2px solid #ffa2df;
  border-radius: 0px;
  background: transparent;
  outline: none;
  margin-bottom: 25px;
}

.sent-butnn {
  width: 100%;
  font-size: 17px;
  padding: 11px 0px;
  color: #fff;
  font-weight: 600;
  letter-spacing: 1px;
  background: #4292ec;
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
  -moz-transition: 0.5s all;
}

.sent-butnn:hover {
  background: #000;
  color: #fff;
}

.contact-forms textarea {
  resize: none;
  height: 10em;
}

select.form-control:not([size]):not([multiple]) {
  height: 45px;
  color: #000;
}

.address_mail_footer_grids iframe {
  width: 100%;
  height: 15em;
  border: none;
}

.contact-forms ::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #000;
}

.contact-forms ::-moz-placeholder {
  /* Firefox 19+ */
  color: #000;
}

.contact-forms :-ms-input-placeholder {
  /* IE 10+ */
  color: #000;
}

.contact-forms :-moz-placeholder {
  /* Firefox 18- */
  color: #000;
}


/*--//contact--*/


/* footer */

footer {
  background: #ffa2df;
}

/*.groom-w3layouts-footer img {
  border: 2px solid #fff;
  border-radius: 50%;
}*/

.bride-groom-names h4 a {
  font-size: 26px;
  color: #4292ec;
  letter-spacing: 2px;
  font-weight: 600;
}

.icons-footer ul li a span {
  font-size: 17px;
  letter-spacing: 0px;
  text-align: center;
  width: 50px;
  height: 50px;
  line-height: 50px;
  background: #ffffff;
  border-radius: 0px;
  margin: 0px 12px;
  color: #ffa2df;
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
  -moz-transition: 0.5s all;
}

.icons-footer ul li a span:hover,
.contact-list-grid p a:hover {
  color: #4292ec;
}

footer p {
  font-size: 14px;
  color: #000;
  letter-spacing: 2px;
}

footer p a {
  font-weight: bold;
  color: #4292ec;
}

footer p a:hover {
  color: rgb(255, 255, 255);
}


/*--// footer--*/


/*-- to-top --*/

#toTop {
  display: none;
  text-decoration: none;
  position: fixed;
  bottom: 20px;
  right: 2%;
  overflow: hidden;
  z-index: 999;
  width: 46px;
  height: 36px;
  border: none;
  text-indent: 100%;
  background: url(../images/arr.png) no-repeat 0px 0px;
}

#toTopHover {
  width: 32px;
  height: 32px;
  display: block;
  overflow: hidden;
  float: right;
  opacity: 0;
  -moz-opacity: 0;
  filter: alpha(opacity=0);
}


/*-- //to-top --*/


/*--responsive--*/

@media(max-width:1920px) {}

@media(max-width:1680px) {}

@media(max-width:1600px) {}

@media(max-width:1440px) {
  .header-outs {
    min-height: 680px;
  }
  .banner-slide-img {
    padding-top: 17em;
  }
  .banner-groom-name h4 {
    font-size: 4.5em;
    margin-top: 15px;
  }
  .banner-bride-name h4 {
    font-size: 48px;
  }
  .jst-wthree-text h2 {
    font-size: 33px;
    color: #4292ec;
    font-weight: 600;
  }
  .title {
    font-size: 52px;
  }
  .simply-countdown>.simply-section .simply-amount {
    font-size: 58px;
    line-height: 73px;
  }
  .blog-txt-info h4 a,
  .clients-w3layouts-txt h4,
  .time-agile-title h3,
  .groom-bride-grid h4,
  .blog-wthree-info h4,
  .sub-head h4,
  .contact-list-grid h6 {
    font-size: 20px;
    color: #4292ec;
    text-transform: capitalize;
    font-weight: 600;
  }
  .bride-groom-names h4 a {
    font-size: 24px;
  }
  .icons-footer ul li a span {
    width: 46px;
    height: 46px;
    line-height: 46px;
  }
  .inner_page-banner {
    min-height: 271px;
  }
  .outs_more-buttn a {
    padding: 7px 23px;
  }
  .groom-bride-grid {
    padding: 2em 2.5em;
  }
  .vtimeline-content {
    padding: 1.7em 1.5em
  }
  .contact-forms input,
  .contact-forms select,
  .contact-forms textarea {
    padding: .7em .8em;
  }
  .address_mail_footer_grids iframe {
    height: 13em;
  }
}

@media(max-width:1366px) {
  h1 a.navbar-brand {
    padding: 19px 0px 0px;
    font-size: 29px;
  }
  h1 a.navbar-brand span {
    font-size: 19px;
    margin: 0px 34px;
  }
  .blog-txt-info h4 a,
  .clients-w3layouts-txt h4,
  .time-agile-title h3,
  .groom-bride-grid h4,
  .blog-wthree-info h4,
  .sub-head h4,
  .contact-list-grid h6 {
    font-size: 19px;
  }
  .vtimeline-content {
    padding: 1.7em 1.2em;
  }
}

@media(max-width:1280px) {
  .banner-bride-name h4 {
    font-size: 46px;
  }
  .header-outs {
    min-height: 600px;
  }
  .banner-slide-img {
    padding-top: 15em;
  }
  .banner-groom-name h4 {
    font-size: 4em;
  }
  h1 a.navbar-brand {
    font-size: 27px;
  }
  .simply-countdown>.simply-section .simply-word {
    font-size: 16px;
  }
  .title {
    font-size: 50px;
  }
  .icons-footer ul li a span {
    font-size: 16px;
  }
  .outs_more-buttn a {
    font-size: 15px;
  }
  .vtimeline-block {
    width: 47%;
  }
  .vtimeline-block:after {
    top: 13px;
  }
  .contact-forms input,
  .contact-forms select,
  .contact-forms textarea {
    margin-bottom: 23px;
  }
  
}

@media(max-width:1080px) {
  .examples {
    width: 60%;
  }
  .simply-countdown>.simply-section .simply-amount {
    font-size: 55px;
  }
  .clients-color {
    padding: 17px;
  }
  .clients-news-agile img {
    padding: 9px;
  }
  .story-img img {
    width: 99%;
  }
  .vtimeline-date {
    font-size: 16px;
  }
  .wed-both {
    width: 68%;
  }
  .groom-left-agile {
    width: 68%;
  }
}

@media(max-width:1050px) {
  .blog-txt-info h4 a,
  .clients-w3layouts-txt h4,
  .time-agile-title h3,
  .groom-bride-grid h4,
  .blog-wthree-info h4,
  .sub-head h4,
  .contact-list-grid h6 {
    font-size: 18px;
  }
  .bride-groom-names h4 a {
    font-size: 23px;
    letter-spacing: 1px;
  }
  .banner-bride-name h4 {
    font-size: 44px;


  }
  .banner-groom-name h4 {
    letter-spacing: 4px;
    margin-top: 12px;
  }
  .jst-wthree-text h2 {
    font-size: 31px;
  }
  .groom-left-agile {
    right: -14px;
  }
  .wed-both {
    top: 111px;
  }
  .groom-bride-grid {
    padding: 2em 2em;
  }
}

@media(max-width:1024px) {
  h1 a.navbar-brand span {
    font-size: 18px;
  }
  .title {
    font-size: 48px;
  }
  .simply-countdown>.simply-section .simply-word {
    letter-spacing: 2px;
  }
  .icons-footer ul li a span {
    width: 42px;
    height: 42px;
    line-height: 42px;
  }
  .social-media ul li span {
    width: 33px;
    height: 33px;
    line-height: 33px;
  }
  .vtimeline-date {
    padding: 7px;
  }
  .contact-forms textarea {
    height: 9em;
  }
}

@media(max-width:991px) {
  .navbar-light .navbar-toggler 
  {
    float: right!important;
  }
    .anus ul li {
    padding: 5px!important;
}
.imglogo {
    display: none;
}
.seventyper {
    width: 100%!important;
    float: left;
}
  h1 a.navbar-brand {
    font-size: 26px;
  }
  div#navbarSupportedContent {
    background: transparent;
    text-align: center;
    padding: 13px 0px;
    width: 75%;
    float: right;
  }
  .navbar-light .navbar-nav .nav-link {
    padding: 10px 15px;
    margin: 0px auto;
  }
  .navbar-light .navbar-toggler {
    border-color: rgb(0, 0, 0);
    background: #bd1414;
    padding: 1px 4px;
    margin-top: 0px;
    outline: none;
    margin-right: 0px;
    cursor: pointer;
    border-radius: 6px;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
  }
  .navbar-light .navbar-toggler:hover {
    background: #fff;
  }
  .abut-img-grids {
    margin-top: 25px;
  }
  .bride-right-agile {
    text-align: center;
  }
  .wed-both {
    top: 103px;
    width: 28%;
    left: 148px;
  }
  .carousel-indicators {
    bottom: -40px;
  }
  .groom-left-agile {
    right: 111px;
    width: 28%;
  }
  .about-groom-w3layouts {
    margin-bottom: 30px;
  }
  .simply-countdown>.simply-section {
    width: 124px;
    height: 124px;
  }
  .examples {
    width: 74%;
  }
  .clients-color {
    padding: 12px;
  }
  .title {
    font-size: 46px;
  }
  .pics-groom-bride {
    text-align: center;
  }
  .groom-bride-grid {
    padding: 1.5em 1.7em;
  }
  .outs_more-buttn a {
    font-size: 16px;
    letter-spacing: 1px;
    margin-top: 15px;
  }
  .vtimeline-content {
    padding: 1.5em 1.2em;
  }
  .grid figure figcaption,
  .grid figure figcaption>a {
    top: 11px;
  }
  figure.effect-selena h6 {
    font-size: 17px;
  }
  .btn {
    font-size: 13px;
  }
  .clients-news-agile img {
    margin-bottom: 20px;
  }
  .contact-forms input,
  .contact-forms select,
  .contact-forms textarea {
    margin-bottom: 20px;
  }
}

@media(max-width:900px) {
  .navbar-light .navbar-toggler 
  {
    float: right!important;
  }
    .anus ul li {
    padding: 5px!important;
}
.imglogo {
    display: none;
}
.seventyper {
    width: 100%!important;
    float: left;
}
/*.imglogo1 {
    height: 40px!important;
    text-align: left;
    float: left;
    display: block!important;
}*/
  h1 a.navbar-brand {
    font-size: 26px;
  }
  .header-outs {
    min-height: 552px;
  }
  .banner-slide-img {
    padding-top: 14em;
  }
  .inner_page-banner {
    min-height: 245px;
  }
  .vtimeline-block {
    width: 54%;
  }
}

@media(max-width:800px) {
  .banner-bride-name h4 {
    font-size: 28px!important;
}
  .navbar-light .navbar-toggler 
  {
    float: right!important;
  }
    .anus ul li {
    padding: 5px!important;
}
.imglogo {
    display: none;
}
.seventyper {
    width: 100%!important;
    float: left;
}
  h1 a.navbar-brand {
    font-size: 26px;
  }
  .banner-groom-name h4 {
    font-size: 3.7em;
  }
  .simply-countdown>.simply-section .simply-word {
    font-size: 15px;
  }
  .simply-countdown>.simply-section .simply-amount {
    line-height: 68px;
  }
  .vtimeline-block {
    width: 73%;
  }
  .address_mail_footer_grids iframe {
    height: 11em;
  }
}

@media(max-width:768px) {
  .banner-bride-name h4 {
    font-size: 28px!important;
}
  .anus ul {
    text-align: center!important;
  }
  .sellm
{
float: left;
text-align: center;
background-image: url('../images/sell.png');
background-repeat: no-repeat;
background-position: center;
background-size: contain;
height: 150px;
margin: 0 auto;
}
.sellms
{
float: left;
text-align: center;
background-image: url('../images/create.png');
background-repeat: no-repeat;
background-position: center;
background-size: contain;
height: 150px;
margin: 0 auto;
}


.sellmss
{
float: left;
text-align: center;
background-image: url('../images/manage.png');
background-repeat: no-repeat;
background-position: center;
background-size: contain;
height: 150px;
margin: 0 auto;
}

  .navbar-light .navbar-toggler 
  {
    float: right!important;
  }
    .anus ul li {
    padding: 5px!important;
}
.imglogo {
    display: none;
}
.seventyper {
    width: 100%!important;
    float: left;
}
.imglogo1 {
    height: 40px!important;
    text-align: left;
    float: left;
    display: block!important;
}
  .title {
    font-size: 43px;
  }
  .clients-w3layouts-txt h6 {
    font-size: 15px;
  }
  .icons-footer ul li a span {
    font-size: 15px;
  }
  .bride-groom-names h4 a {
    font-size: 22px;
  }
  .groom-bride-grid {
    padding: 1em 1.2em;
  }
  .vtimeline-date {
    font-size: 15px;
  }
  .table td,
  .table>tbody>tr>td,
  .table>tbody>tr>th,
  .table>tfoot>tr>td,
  .table>tfoot>tr>th,
  .table>thead>tr>td,
  .table>thead>tr>th {
    padding: 10px!important;
  }
}

@media(max-width:767px) {
  .banner-bride-name h4 {
    font-size: 28px!important;
}
 
  .anus ul {
    text-align: center!important;
  }
  .sellm
{
float: left;
text-align: center;
background-image: url('../images/sell.png');
background-repeat: no-repeat;
background-position: center;
background-size: contain;
height: 150px;
margin: 0 auto;
}
.sellms
{
float: left;
text-align: center;
background-image: url('../images/create.png');
background-repeat: no-repeat;
background-position: center;
background-size: contain;
height: 150px;
margin: 0 auto;
}


.sellmss
{
float: left;
text-align: center;
background-image: url('../images/manage.png');
background-repeat: no-repeat;
background-position: center;
background-size: contain;
height: 150px;
margin: 0 auto;
}

  .bord 
{
  display: none!important;
}
.ros
{
  display: none!important;
}
.bords
{
  display: none!important;
}
  .navbar-light .navbar-toggler 
  {
    float: right!important;
  }
    .anus ul li {
    padding: 5px!important;
}
.imglogo {
    display: none;
}
.seventyper {
    width: 80%!important;
    float: left;
}
.imglogo1 {
    height: 40px!important;
    text-align: left;
    float: left;
    display: block!important;
}
  .wed-both {
    top: 93px;
    width: 38%;
    left: 36px;
  }
  .groom-left-agile {
    right: 61px;
    width: 38%;
  }
  .simply-countdown>.simply-section .simply-amount {
    font-size: 50px;
  }
  .jst-wthree-text h2 {
    font-size: 29px;
  }
  .simply-countdown>.simply-section {
    width: 111px;
    height: 111px;
  }
  .examples {
    width: 91%;
  }
  .blog-grid-flex {
    width: 82%;
    margin: 0px auto;
  }
  .blog-grid-flex:nth-child(1),
  .blog-grid-flex:nth-child(2) {
    margin-bottom: 28px;
  }
  footer p {
    letter-spacing: 1px;
  }
  .bride-image-w3layouts,
  .groom-image-w3layouts {
    min-height: 322px;
  }
  .inner_page-banner {
    min-height: 213px;
  }
  h4.bootstrap-heading {
    font-size: 18px;
  }
  h5.bootstrap-heading {
    font-size: 16px;
  }
  .blog-wed-img:nth-child(1),
  .blog-wed-img:nth-child(3) {
    margin-bottom: 20px;
  }
  .blog-wed-img:nth-child(2) {
    margin-top: 20px;
  }
  .contact-forms input,
  .contact-forms select,
  .contact-forms textarea {
    margin-bottom: 18px;
  }
}

@media(max-width:736px) {
  .banner-bride-name h4 {
    font-size: 28px!important;
}
    
}
 
  .sellm
{
float: left;
text-align: center;
background-image: url('../images/sell.png');
background-repeat: no-repeat;
background-position: center;
background-size: contain;
height: 150px;
margin: 0 auto;
}
.sellms
{
float: left;
text-align: center;
background-image: url('../images/create.png');
background-repeat: no-repeat;
background-position: center;
background-size: contain;
height: 150px;
margin: 0 auto;
}


.sellmss
{
float: left;
text-align: center;
background-image: url('../images/manage.png');
background-repeat: no-repeat;
background-position: center;
background-size: contain;
height: 150px;
margin: 0 auto;
}


    .anus ul li {
    padding: 5px!important;
}
.imglogo {
    display: none;
}
.seventyper {
    width: 100%!important;
    float: left;
}
.imglogo1 {
    height: 40px!important;
    text-align: left;
    float: left;
    display: block!important;
}
.banner-bride-name h4 {
    font-size: 26px!important;
    font-weight: 500;
}
.banner-groom-name h5 {
    font-size: 16px!important ;
}
.form-control {
    font-size: 12px;
}
.logos a {
    font-size: 16px;
}
  .header-outs {
    min-height: 552px;
  }
  .banner-slide-img {
    padding-top: 12em;
  }
  .banner-groom-name h4 {
    font-size: 3.4em;
  }
  .blog-txt-info h4 a,
  .clients-w3layouts-txt h4,
  .time-agile-title h3,
  .groom-bride-grid h4,
  .blog-wthree-info h4,
  .sub-head h4,
  .contact-list-grid h6 {
    font-size: 17px;
  }
  .outs_more-buttn a {
    font-size: 14px;
  }
  .vtimeline-block {
    width: 86%;
  }
  .grid figure figcaption,
  .grid figure figcaption>a {
    top: 5px;
  }
  .contact-forms textarea {
    height: 8em;
  }
  .contact-form:nth-child(2) {
    margin: 25px 0px;
  }
}

@media(max-width:667px) {
    .hedder-up {
    display: none;
}
  .anus ul {
    text-align: center!important;
  }
  .sellm
{
float: left;
text-align: center;
background-image: url('../images/sell.png');
background-repeat: no-repeat;
background-position: center;
background-size: contain;
height: 150px;
margin: 0 auto;
}
.sellms
{
float: left;
text-align: center;
background-image: url('../images/create.png');
background-repeat: no-repeat;
background-position: center;
background-size: contain;
height: 150px;
margin: 0 auto;
}


.sellmss
{
float: left;
text-align: center;
background-image: url('../images/manage.png');
background-repeat: no-repeat;
background-position: center;
background-size: contain;
height: 150px;
margin: 0 auto;
}

  .bord 
{
  display: none!important;
}
.ros
{
  display: none!important;
}
.bords
{
  display: none!important;
}
  .logos a {
    font-size: 16px!important;
}
    .anus ul li {
    padding: 5px!important;
}
.imglogo {
    display: none;
}
.seventyper {
    width: 100%!important;
    float: left;
}
.imglogo1 {
    height: 40px!important;
    text-align: left;
    float: left;
    display: block!important;
}
  .header-outs {
    min-height: 500px;
  }
  .banner-bride-name h4 {
    font-size: 42px;
  }
  .banner-slide-img {
    padding-top: 11em;
  }
  .jst-wthree-text h2 {
    font-size: 28px;
  }
  .icons-footer ul li a span {
    margin: 0px 9px;
  }
  .groom-bride-grid {
    padding: 1em 1em;
  }
  .vtimeline-point {
    margin-bottom: 27px;
  }
  .grid figure figcaption {
    padding: 1.5em 1.5em;
  }
  figure.effect-selena h6 {
    font-size: 15px;
  }
  .banner-bride-name h4 {
    font-size: 20px!important;
    font-weight: 500;
}
.banner-groom-name h5 {
    font-size: 16px!important;
}
.megh .input-group {
    width: 70%!important;
}
.title {
    font-size: 22px!important;
}
.mm h5 {
    font-size: 16px!important;
}
.imagg i {
    font-size: 18px!important;
}
.anus ul li {
    padding: 5px!important;
}
.anus ul   {
    line-height:  20px!important;
}
}

/*@media(max-width:640px) {
  .banner-groom-name h4 {
    font-size: 3.2em;
  }
  .title {
    font-size: 40px;
    letter-spacing: 1px;
  }
  .icons-footer ul li a span {
    width: 38px;
    height: 38px;
    line-height: 38px;
    font-size: 14px;
  }
}*/
/*
@media(max-width:600px) {
  h1 a.navbar-brand span {
    margin: 0px 30px;
  }
  h1 a.navbar-brand {
    letter-spacing: 1px;
  }
  .banner-bride-name h4 {
    font-size: 40px;
  }
  .bride-groom-names h4 a {
    font-size: 20px;
  }
  .bride-image-w3layouts,
  .groom-image-w3layouts {
    min-height: 299px;
  }
  .vtimeline-content {
    padding: 1.3em 1em;
  }
  .sent-butnn {
    padding: 9px 0px;
     footer p {
    font-size: 13px;
    line-height: 28px;
  }
  .wed-both {
    width: 44%;
  }
  .groom-left-agile {
    right: 35px;
    width: 44%;
  }
  .social-media ul li span {
    font-size: 14px;
  }
  .gallery-grids {
    width: 69%;
  }
  h1.bootstrap-heading {
    font-size: 23px;
  }
  h2.bootstrap-heading {
    font-size: 20px;
  }
  .table h3 {
    font-size: 19px;
  }
  .logos {
      display: none;
}
.seventyper {
    text-align: right;
}
.logos .fa.fa-user-o {
    font-size: 14px!important; 
    color: white;
}
.lg {
    height: 25px!important;
}
.banner-bride-name h4 {
    font-size: 16px!important;
    font-weight: 500;
}
.banner-groom-name h5 {
    color: white;
    font-size: 12px!important;
    font-weight: 600;
}
.searchitem {
    font-size: 12px!important;
}
.mm h5 {
    font-size: 14px!important;
    font-weight: 600;
}
.imagg i {

    font-size: 16px!important;
 
}
.title {
    font-size: 18px!important;
}
.megh .input-group {

    width: 80%!important;
   }
   .anus {
    font-size: 12px!important;
}
.copy-agile-right.text-center.pt-lg-4.pt-3 p {
    line-height: 50px!important;
    font-size: 12px!important;
}
.anus ul {
    line-height: 16px!important;
}
div#navbarSupportedContent {
    background: grey; 
    text-align: center;
    padding: 2px 0px!important;
}
.anus ul li {
    padding: 5px!important;
}
  }
}
*/   
@media(max-width:568px) {

  .anus ul {
    text-align: center!important;
  }
  .sellm
{
float: left;
text-align: center;
background-image: url('../images/sell.png');
background-repeat: no-repeat;
background-position: center;
background-size: contain;
height: 150px;
margin: 0 auto;
}
.sellms
{
float: left;
text-align: center;
background-image: url('../images/create.png');
background-repeat: no-repeat;
background-position: center;
background-size: contain;
height: 150px;
margin: 0 auto;
}


.sellmss
{
float: left;
text-align: center;
background-image: url('../images/manage.png');
background-repeat: no-repeat;
background-position: center;
background-size: contain;
height: 150px;
margin: 0 auto;
}

  .bord 
{
  display: none!important;
}
.ros
{
  display: none!important;
}
.bords
{
  display: none!important;
}
  .logos a {
    font-size: 16px!important;
}
  .navbar-light .navbar-toggler 
  {
    float: right!important;
  }
    .anus ul li {
    padding: 5px!important;
}
.imglogo {
    display: none;
}
.seventyper {
    width: 100%!important;
    float: left;
}
.imglogo1 {
    height: 40px!important;
    text-align: left;
    float: left;
    display: block!important;
}
  .header-outs {
    min-height: 444px;
  }
  .banner-slide-img {
    padding-top: 10em;
  }
  .simply-countdown>.simply-section .simply-amount {
    font-size: 45px;
  }
  .simply-countdown>.simply-section .simply-word {
    font-size: 14px;
  }
  .icons-footer ul li a span {
    margin: 0px 5px;
  }
  .vtimeline-block {
    width: 89%;
  }
  .gallery-grids {
    width: 60%;
    margin: 0px auto;
  }
  .grid figure figcaption,
  .grid figure figcaption>a {
    top: 37px;
  }
  control:not([size]):not([multiple]) {
    height: 41px;
  }
  .contact-forms input,
  .contact-forms select,
  .contact-forms textarea {
    padding: .6em .7em;
  }
  footer p {
    font-size: 13px;
    line-height: 28px;
  }
  .wed-both {
    width: 44%;
  }
  .groom-left-agile {
    right: 35px;
    width: 44%;
  }
  .social-media ul li span {
    font-size: 14px;
  }
  .gallery-grids {
    width: 69%;
  }
  h1.bootstrap-heading {
    font-size: 23px;
  }
  h2.bootstrap-heading {
    font-size: 20px;
  }
  .table h3 {
    font-size: 19px;
  }
  .logos {
      display: none;
}
.seventyper {
    text-align: right;
    font-family: raavi;
}
.logos .fa.fa-user-o {
    font-size: 14px!important; 
    color: white;
}
.lg {
    height: 25px!important;
}
.banner-bride-name h4 {
    font-size: 16px!important;
    font-weight: 500;
}
.banner-groom-name h5 {
    color: white;
    font-size: 12px!important;
    font-weight: 600;
}
.searchitem {
    font-size: 12px!important;
}
.mm h5 {
    font-size: 14px!important;
    font-weight: 600;
}
.imagg i {

    font-size: 16px!important;
 
}
.title {
    font-size: 18px!important;
}

   .anus {
    font-size: 12px!important;
}
.copy-agile-right.text-center.pt-lg-4.pt-3 p {
    line-height: 50px!important;
    font-size: 12px!important;
}
.anus ul {
    line-height: 16px!important;
}
div#navbarSupportedContent {
 text-align: center;
padding: 2px 0px !important;

height: auto;
}
.anus ul li {
    padding: 5px!important;
}
}

@media(max-width:480px) {

  .anus ul {
    text-align: center!important;
  }
  .sellm
{
float: left;
text-align: center;
background-image: url('../images/sell.png');
background-repeat: no-repeat;
background-position: center;
background-size: contain;
height: 150px;
margin: 0 auto;
}
.sellms
{
float: left;
text-align: center;
background-image: url('../images/create.png');
background-repeat: no-repeat;
background-position: center;
background-size: contain;
height: 150px;
margin: 0 auto;
}


.sellmss
{
float: left;
text-align: center;
background-image: url('../images/manage.png');
background-repeat: no-repeat;
background-position: center;
background-size: contain;
height: 150px;
margin: 0 auto;
}

.imglogo1{
  height: 80px !important;
width: 100px !important;
}
.logos{
  display: none !important;
}
 
  .bord 
{
  display: none!important;
}
.ros
{
  display: none!important;
}
.bords
{
  display: none!important;
}
  .logos a {
    font-size: 14px!important;
}
  .anus ul li {
    padding: 5px!important;
}
.imglogo {
    display: none;
}
.seventyper {
    width: 100%!important;
    float: left;
}
.imglogo1 {
    height: 80px !important;
width: 100px !important;
    text-align: left;
    float: left;
    display: block!important;
}
  .banner-groom-name h4 {
    font-size: 3em;
    margin-top: 7px;
  }
  .simply-countdown>.simply-section {
    width: 98px;
    height: 105px;
  }
  .simply-countdown>.simply-section .simply-amount {
    line-height: 59px;
  }
  .blog-grid-flex {
    width: 95%;
  }
  footer p {
    font-size: 13px;
    line-height: 28px;
  }
  .wed-both {
    width: 44%;
  }
  .groom-left-agile {
    right: 35px;
    width: 44%;
  }
  .social-media ul li span {
    font-size: 14px;
  }
  .gallery-grids {
    width: 69%;
  }
  h1.bootstrap-heading {
    font-size: 23px;
  }
  h2.bootstrap-heading {
    font-size: 20px;
  }
  .table h3 {
    font-size: 19px;
  }
  .logos {
      display: none;
}
.seventyper {
    text-align: right;
}
.logos .fa.fa-user-o {
    font-size: 14px!important; 
    color: white;
}
.lg {
    height: 25px!important;
}
.banner-bride-name h4 {
    font-size: 16px!important;
    font-weight: 500;
}
.banner-groom-name h5 {
    color: white;
    font-size: 12px!important;
    font-weight: 600;
}
.searchitem {
    font-size: 12px!important;
}
.mm h5 {
    font-size: 14px!important;
    font-weight: 600;
}
.imagg i {

    font-size: 16px!important;
 
}
.title {
    font-size: 18px!important;
}

   .anus {
    font-size: 12px!important;
}
.copy-agile-right.text-center.pt-lg-4.pt-3 p {
    line-height: 50px!important;
    font-size: 12px!important;
}
.anus ul {
    line-height: 16px!important;
}
div#navbarSupportedContent {
text-align: center;

padding: 17px 9px !important;


height: auto;
}
  
.nav-item {

    display: inline-block;
    margin: auto;
    width: 100%;
    padding: 5px;

}
.col-md-3.anus {

    padding: 10px;
    float: left;
    margin: 0 auto;
    display: block;

}


}

/*@media(max-width:440px) {
  .banner-bride-name h4 {
    font-size: 38px;
  }
  .news-date ul li a {
    letter-spacing: 1px;
  }
  .blog-grid-flex {
    width: 100%;
  }
  .title {
    font-size: 37px
  }
  .inner_page-banner {
    min-height: 187px;
  }
  .vtimeline-block {
    width: 93%;
  }
  .simply-countdown>.simply-section {
    width: 89px;
    height: 96px;
  }
  .wed-both {
    width: 47%;
  }
  .groom-left-agile {
    width: 47%;
  }
}

@media(max-width:414px) {
  .header-outs {
    min-height: 387px;
  }
  .banner-groom-name h4 {
    letter-spacing: 2px;
    font-size: 2.7em;
    margin-top: 3px;
  }
  .banner-slide-img {
    padding-top: 9.5em;
  }
  .jst-wthree-text h2 {
    font-size: 26px;
  }
  .simply-countdown>.simply-section .simply-amount {
    font-size: 40px;
  }
  .examples {
    width: 100%;
  }
  .simply-countdown>.simply-section {
    width: 90px;
  }
  .wed-both {
    width: 52%;
  }
  .groom-left-agile {
    width: 52%;
  }
  .title {
    font-size: 35px;
  }
  .vtimeline-content {
    padding: 1em .7em;
  }
  .gallery-grids {
    width: 76%;
  }
  .contact-forms textarea {
    height: 7em;
  }
}

@media(max-width:384px) {
  .navbar-light .navbar-nav .nav-link {
    padding: 9px 15px;
  }
  h1 a.navbar-brand {
    font-size: 24px;
  }
  .wed-both {
    top: 127px;
    left: 8px;
  }
  .groom-left-agile {
    top: 138px;
  }
  .simply-countdown>.simply-section .simply-amount {
    font-size: 37px;
  }
  .simply-countdown>.simply-section .simply-word {
    letter-spacing: 1px;
  }
  .simply-countdown>.simply-section {
    width: 84px;
    height: 99px;
  }
  .bride-image-w3layouts,
  .groom-image-w3layouts {
    min-height: 260px;
  }
  .gallery-grids {
    width: 80%;
  }
  .address_mail_footer_grids iframe {
    height: 10em;
  }
}

@media(max-width:375px) {
  .header-outs {
    min-height: 355px;
  }
  .banner-slide-img {
    padding-top: 8.5em;
  }
  .banner-groom-name h4 {
    letter-spacing: 2px;
    font-size: 2.4em;
  }
  .jst-wthree-text h2 {
    font-size: 24px;
  }
  .wed-both {
    top: 128px;
    left: 14px;
  }
  .simply-countdown>.simply-section .simply-word {
    font-size: 13px;
  }
  .simply-countdown>.simply-section {
    width: 80px;
  }
  .title {
    font-size: 33px;
  }
  .gallery-grids {
    width: 85%;
  }
}

@media(max-width:320px) {
  .banner-groom-name h4 {
    letter-spacing: 1px;
    font-size: 2.2em;
  }
  h1 a.navbar-brand {
    font-size: 23px;
  }
  h1 a.navbar-brand span {
    margin: 0px 24px;
  }
  .navbar-light .navbar-nav .nav-link {
    letter-spacing: 1px
  }
  .groom-left-agile {
    right: 16px;
    width: 67%;
  }
  .wed-both {
    left: 10px;
    width: 67%;
  }
  .simply-countdown>.simply-section {
    width: 67px;
  }
  .title {
    font-size: 30px;
  }
  .icons-footer ul li a span {
    width: 35px;
    height: 35px;
    line-height: 35px;
  }
  .outs_more-buttn a {
    padding: 7px 19px;
  }
  .bride-image-w3layouts,
  .groom-image-w3layouts {
    min-height: 220px;
  }
  .gallery-grids {
    width: 92%;
  }
}
*/

/*--//responsive--*/


.logos {
    width: 100%;
    float: left;
    display: block;
    text-align: right;
    padding: 10px 0;
}
.logos .fa.fa-user-o {
    font-size: 20px;
    color: white;
}
.hedder-up {

    width: 20%;
    float: left;
        position: absolute;

}
.seventyper
{
   width: 80%;
    float: left;
    font-family: raavi;
}
.tgl
{
  display: block;
    width: 100%;
    float: left;
    margin-top: 0;
}

.lg{
  /*background: white;

border-radius: 10px;

border: 4px solid;*/

height: 40px;
}
.lg.lgm {
    height: 20px;
}   
.logos a {
    margin-left: 5px;
}
.banner-bride-name h4 {
    font-size: 38px;
    font-weight: 500;
    font-family: 'Raleway', sans-serif;
}
.banner-groom-name h5 {
    color: white;
    font-size: 20px;
    line-height: 45px;
    font-weight: 400;
    font-family: 'Raleway', sans-serif;
}

.megh .stylish-input-group .input-group-addon{
    background: #ffffff !important; 
    padding: 0;
    margin: 0px;
}
.megh .stylish-input-group .form-control{
  border-right:0; 
  box-shadow:0 0 0; 
  border-color:#ccc;
      height: 60px; 
}
.megh .stylish-input-group button{
    border:0;
    background:transparent;
}
.megh .stylish-input-group button {
    border: 0;
    background: #dc3545;
    height: 100%;
    color: white;
    border-color: #dc3545;
        height: 58px;
}
#imaginary_container{
    margin-top:5%; /* Don't copy this */
}
form#eventsearch {
    width: 50%;
    margin: 0 auto;
}
.megh .input-group {
    width: 100%;
    margin: auto;
}


.navbar-light .navbar-nav .nav-link {
    color: #fff;
    font-size: 14px;
    letter-spacing: 0px;
    text-transform: uppercase;
    margin: 0px 0px;
    padding: 0px 0px;
    font-weight: 600;
    margin: auto;
    margin-right: auto;
    padding-right: 7px;
     margin-right: 10px;
    border-right: 1px solid white;
        line-height: 40px;
  }
  .navbar-nav > li.nav-item button.btn.btn-danger {
    font-size: 16px;
    font-weight: 500;
    padding: 8px 17px 5px;
    border-radius: 50px;
}
 @media (min-width: 768px)
  {
    button.navbar-toggler {
    display: none;
}
  }
 /* .nav-item {
    margin: auto;
    padding-right: 17px;
}*/
  ul li {
    display: inline-block;
    margin: auto;
}
.logos a {
    color: white;
    font-weight: 500;
    letter-spacing: 1px;
    font-family: 'Raleway', sans-serif;
}
.logos a i {
    font-size: 20px;
    margin-right: 5px;
}
.mm{
  float: left;
}
.anus{
  float: left;
  margin: 0 auto;
  display: block;
}
.mm h5
{
  font-size: 20px;
font-weight: 600;
}
.createmanase p
{
  font-size: 13px;
  margin-top: 20px;
}
.imaa {
    width: 100%;
    float: left;
    padding-bottom: 20px;
    padding-top: 60px;
}
.imagg {
    width: 50%;
    float: left;
    margin: auto auto;
}
.imagg i {
    float: right;
    font-size: 25px;
    color: #dc3545;
    padding-right: 10%;
}
/*.createmanase {
    padding: 20px 10px;
}*/
.anus {

    margin: auto;

}
.anus ul
{
  text-align: left;
  list-style: none;
  line-height: 30px;
  font-size: 16px;
  color: white;   
}
.anus ul li {
    padding: 10px;
    display: block;
}
.anus img {
   border: none;
height: 123px;
}

footer {
         padding: 70px 0;
    background: black!important;

}
footer a {
    color: #ffffff;
}
footer a:hover{
    color: #e14143!important;
}
.icons-footer.text-center.mt-lg-5.mt-md-4.mt-3 {
    padding-top: 55px;
}
.icons-footer ul li a span
{
  border-radius: 1px;
  font-size: 25px;
  color: #dc3545;
}
.copy-agile-right.text-center.pt-lg-4.pt-3 
{
  padding-top: 0px!important;
}
.copy-agile-right.text-center.pt-lg-4.pt-3 p
{
  color: white;
  background-color: black;
  border-top: 1px solid gainsboro;
  line-height: 50px;
  font-family: raavi;
}

.imglogo1
{
  height: 80px !important;
width: 100px !important;
  text-align: left;
     display: none !important;
}
@media (max-width: 1366px)
{
section.section-login {
    background: #fff;
    padding: 30px 0 !important;
}
}

/*.second
{
  margin-top: 30px;
  padding-bottom: 40px;
  border-bottom: 1px solid;

}*/
.imagg h5 {
     font-size: 22px;
    color: #dc3545;
    font-weight: 400;
    letter-spacing: 1px;
    font-family: 'Raleway', sans-serif;
    text-align: left;
    padding: 0;
}
.sellm
{
float: left;
text-align: center;
background-image: url('../images/sell.png');
background-repeat: no-repeat;
background-position: center;
background-size: contain;
margin: 0 auto;
height: 200px;
}
.sellms
{
float: left;
text-align: center;
background-image: url('../images/create.png');
background-repeat: no-repeat;
background-position: center;
background-size: contain;
 height: 200px;
margin: 0 auto;
}


.sellmss
{
float: left;
text-align: center;
background-image: url('../images/manage.png');
background-repeat: no-repeat;
background-position: center;
background-size: contain;
 height: 200px;
margin: 0 auto;
}

/*.sellms*/ .bords {
    margin: 0 auto;
    width: 1px;
    height: 50px;
    border: 1px solid #b5b5b1;
    display: block;
    position: absolute;
    top: 0;
    left: 50%;
}
.sellk
{
  float: left;
  font-family: raavi;
  padding-bottom: 30px;
}
.sellm img
{
   width: 60%;
   margin-left: auto;
   margin-right: auto;
}
.ros
{
  width: 90%;
  margin: 0 auto;
  border: 1px solid #b5b5b1;
  display: block;
  display: block;
    float: left;
}
.bord {
 margin: 0 auto;
    width: 1px;
    height: 90px;
    border: 1px solid #b5b5b1;
    margin-top: 45%;
    display: block;
    position: absolute;
    left: 50%;
    bottom: -34px;
}
/*.bords {
    margin: 0 auto;
    width: 1px;
    height: 40px;
    border: 1px solid gainsboro;
}*/

.copy-agile-right.text-center.pt-lg-4.pt-3 a {
    color: #dc3545;
}
.btn {
    color: #ffffff;
    background-color: #dd4649;
    border-radius: 0px;
   letter-spacing: 1px;
}

.btn:hover {
      color: #ffffff;
      background-color: #5c00c2;
      border-color: #5c00c2;
}
.bt {
  text-align: center;
  margin-top: 30px;
}
.btn.btn-primary
{
    color: #ffffff;
    letter-spacing: 1px;
    border-color: #dd4649;
    background-color: #dd4649;
    border-radius: 0px;
    padding: 10px 20px;
}
.btn.btn-primary:hover
{
   color: #ffffff;
    background-color: #5c00c2;
    border-radius: 0px;
   letter-spacing: 1px;
    border-color: #5c00c2;
}

section.section-m-event {
    background: #ffffff;
    padding: 120px 0;
}

/*========================new css here================================== */

.owl-carousel .owl-item img {
    display: block;
    width: 100%;
    height: 180px !important;
}
/*page event-css here*/
.page-event.inner-page .header-outs {
    position: relative;
    background: url(/public/images/main-banner.jpg) no-repeat 0px 0px;
    background-position: top center;
    -webkit-background-size: cover; 
    -moz-background-size: cover;  
    -o-background-size: cover;
    -ms-background-size: cover; 
    min-height: auto; 
    background-repeat: no-repeat;
}
section {
    background: #efefef;
    padding: 40px 0;
}
.page-event.inner-page .banner-slide-img {
    padding: 180px 0 80px;
}
.page-event.inner-page #imaginary_container {
    margin-top: 10px;
}
h3.section-heading
{   font-size: 28px;
    color: #dc3545;
    font-weight: 600;
    letter-spacing: 1px;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    padding: 0;
       margin: 20px 0 50px 0;
}
.card-event
{
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
   float: left;
    display: block;
     font-family: 'Raleway', sans-serif;
         width: 100%;
             margin-bottom: 30px;
}
.card-event .card-body {
    display: block;
    padding: 0;
    float: left;
    width: 100%;
    position: relative;
}
.card-event.single-event .card-body {
    position: inherit;
}
.card-event .card-image {
    display: block;
   
}
.card-event .category-overlay {
    position: absolute;
    color: #fff;
    background-color:#5c00c2;
    padding: 8px 20px 8px 8px;
    top: 15px;
     font-family: 'Raleway', sans-serif;
    font-weight: 500;
    text-transform: none;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}
.card-image img {
    width: 100%;
    height: auto;
}


@media (max-width: 1366px)
{
.price
 {
   padding: 49px 5px;
  font-size: 16px;
    }

   .card-image img {
    width: 100%;
    height: 100%;
}
}
@media (max-width: 1199px)
{
.price {
   
    font-size: 14px;
    padding: 49px 5px;
    }

    }
@media (max-width: 1019px)
{

    .card-event .category-overlay {
    position: absolute;
    color: #fff;
    background-color: #5c00c2;
    padding: 8px 10px 8px 5px;
    font-size: 14px;
    }
    .event-detail {
    white-space: inherit;
    }
    }

 @media (max-width: 991px){
    section.section-trending .container .col-md-3.col-sm-3.col-xs-12 {
    width: 50%;
}
}

 @media (max-width: 600px){
    section.section-trending .container .col-md-3.col-sm-3.col-xs-12 {
    width: 100%;
}
}
.event-detail {
    float: left;
    padding: 10px;
    padding-right: 0;
    width: 70%;
    border-right: dashed 2px #dd4649;
}
span.card-title {
    font-size: 16px;
    font-weight: 600;
}
span.e-loc {
    font-size: 16px;
    margin-bottom: 6px;
    display: block;
}
span.e-date-time {
    font-size: 15px;
    font-weight: 700;
    color: #000;
    display: block;
    font-family: 'Roboto', sans-serif;
}

.btn-act {
    padding-top: 15px;
}
.btn-act a.btn.btn-primary {
    outline: none;
    border-radius: 50px;
        background-color: #dd4649;
    border-color: #dd4649;
}
.btn-act a.btn.btn-primary:hover {
    outline: none;
    border-radius: 50px;
        background-color: #dd4649;
    border-color: #dd4649;
}
.price {
    font-family: 'Roboto', sans-serif;
    float: right;
    text-align: center;
    font-size: 18px;
    padding: 49px 18px;
    background: #dd4649;
    color: #ffffff;
    position: absolute;
    right: 0px;
        width: 100%;
    max-width: 30%;
    height: 100%;
}
/*==============single event page css here=========================*/

.card-event.single-event .event-detail {
    position: absolute;
    top: 0px;
    background: #5c00c2a6;
    width: auto;
    border: none;
    color: #ffffff;
      padding: 60px 15px;
    height: 100%;
    left: 80px;
    width: 40%;
}

.card-event.single-event .venue-details {
  padding: 5px 0;
    margin: 0;
    display: block;
    float: left;
}
.card-event.single-event  span.card-title {
   font-size: 24px;
    font-weight: 600;
}
.card-event.single-event .venue-details label {
    display: block;
    font-size: 22px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.card-event.single-event span.e-date-time {
    font-size: 22px;
    font-weight: 400;
    color: #fff;
    display: grid;
    font-family: 'Roboto', sans-serif;
    width: 50%;
    float: left;
    text-align: center;
    line-height: 1;
}
.card-event.single-event span.e-date-time label {
    font-size: 58px;
    font-weight: 700;
}
.card-event.single-event .col-action {
    display: block;
    float: left;
    width: 100%;
    border-top: solid 1px #ffffff;
    border-bottom: solid 1px #ffffff;
        padding: 15px 0;
    margin: 15px 0;
}
.card-event.single-event .btn-act {
    float: right;
    width: 50%;
    text-align: center;
    padding: 15px 0;
    margin: 15px 0;
}
.card-event.single-event .btn-act a.btn.btn-primary {
    outline: none;
    border-radius: 50px;
    background-color: transparent;
    border: solid 2px #ffffff;
    font-weight: 500;
}
.card-event.single-event .btn-act a.btn.btn-primary:hover
{
      background-color: #5c00c2;
       border: solid 2px #dc3545;
}
.card-event.single-event span.l-con {
    display: block;
    float: left;
    font-size: 28px;
}
.card-event.single-event span.e-loc {
    font-size: 16px;
    margin: 15px 0;
    display: block;
    float: left;
}
.card-event.single-event span.l-name {
    display: block;
    float: right;
    width: 90%;
    padding-top: 5px;
}
.section-upcoming-events .item .col-md-12.col-sm-12.col-xs-12 {
    padding: 0px;
}
.carousel-control .icon-prev, .carousel-control .icon-next, .carousel-control .fa-chevron-circle-left, .carousel-control .fa-chevron-circle-right {
    position: absolute;
    top: 50%;
    z-index: 5;
    display: inline-block;
    margin-top: -10px;
    font-size: 28px;
}
.section-upcoming-events .carousel-indicators {
    bottom: 0px;
}
.section-upcoming-events .carousel-indicators li {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 1px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #000 \9;
    background-color: rgba(0, 0, 0, 0);
    border: 2px solid #fff;
    border-radius: 10px;
}
.section-upcoming-events .carousel-indicators .active {
    background-color: #e14143;
    cursor: pointer;
}

/*page event detail css*/
section.event-area {
    padding: 0px;
    background: transparent;
    color: #ffffff;
}
section.event-area .event-detail {
      float: none;
    padding: 30px;
    padding-right: 0;
    width: 100%;
    border: none;
    background: #5c00c280;
    position: relative;
    top: 192px;
}
section.event-area .event-detail span.card-title {
    font-size: 24px;
    font-weight: 600;
}
section.event-area .event-detail  span.e-date-time {
    font-size: 22px;
    font-weight: 400;
    color: #fff;
   font-family: 'Roboto', sans-serif;
   line-height: 1;
}
section.event-area .event-detail  span.e-date-time label {
       display: inline;
}
section.event-area .event-detail span.e-loc {
    font-size: 16px;
    margin: 15px 0;
    display: block;
 }
section.event-area .event-detail .venue-details label {
   font-size: 22px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 2px;
}
section.event-area .event-detail span.l-con {
   display: block;
    float: left;
    font-size: 43px;
    margin-right: 15px;
    line-height: 1.5;
}
section.event-area .event-detail span.l-name {
    float: none;
    width: 90%;
    padding-top: 5px;
}
section.event-area .event-detail .category-overlay {
    color: #fff;
    background-color: #dd4649;
    padding: 8px 20px 8px 15px;
    margin-bottom: 10px;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    text-transform: none;
    width: 130px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}
.row.row-event-details {
    margin: 30px -15px;
}

body.innerpage .header-outs {
   position: relative;
    background: linear-gradient(#090808, #1818154d),url(../images/inner-banner.jpg) no-repeat 0px 0px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    min-height: 510px;
}
section.section-event-details span.card-title {
    font-size: 24px;
    color: #dc3545;
    font-weight: 600;
    letter-spacing: 1px;
    font-family: 'Raleway', sans-serif;
    text-align: left;
    padding: 0;
    display: block;
    margin: 20px 0;
}
section.section-event-details p.event-summry {
    font-size: 16px;
}

.container.buy-tickets 
{ 
   padding: 50px 15px;
}
.row-heading {
    display: block;
    font-size: 20px;
    color: #ffffff;
    background: #5c00c2;
    padding: 15px 15px;
        margin-bottom: 25px;
}
.event-card img {
    width: 100%;
}
.container.buy-tickets  table.table.table-hover {
    font-family: 'Roboto', sans-serif;
}
.container.buy-tickets  table.table.table-hover h3 {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    color: #5c00c2;
    text-transform: capitalize;
}
.container.buy-tickets  thead th {
    font-size: 16px !important;
    font-weight: 500;
    color: #dd4649 !important;
}
.container.buy-tickets select {
    padding: 7px 30px;
    border: none;
}
.container.buy-tickets table tr {
    border-bottom: solid 1px #e2dede;
}

.t_action a.btn.btn-primary {
    background: #5c00c2;
    border-color: #5c00c2;
    font-size: 18px;
    padding: 10px 20px;
    margin: 21px 0;
}
.t_action a.btn.btn-primary:hover {
    background: #e14143;
    border-color: #e14143;
 }

/* page Login Css*/

body.page-login .header-outs {
    position: relative;
    background: #000;
    min-height: 180px;
}
section.section-login {
    background: #fff;
    padding: 60px 0 100px;
}
label.l-heading {
    font-size: 28px;
    color: #dc3545;
    font-weight: 400;
    letter-spacing: 1px;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    padding: 0;
    margin: 20px 0 50px 0;
    display: block;
}
form.form-login {
    padding: 70px 0;
}
form.form-login .form-control {
    border: none;
    box-shadow: none;
    background: #efefef;
    height: 60px;
    color: #000000;
    border-radius: 0px
}
form.form-login .checkbox {
    float: left;
}
form.form-login label.col-p-act {
    float: right;
    letter-spacing: 1px;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    font-weight: 500;
}
form.form-login label.col-p-act a {
    color: #e14143;
    text-decoration: none;
}
form.form-login .btn.btn-default {
    width: 100%;
    padding: 20px 0;
    font-size: 16px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 500;
      background: #dd4649;
      border-color:#dd4649;
      border-radius: 0px;
}
form.form-login .btn.btn-default:hover {
  color: #ffffff;
    background: #5c00c2;
    border-color:#5c00c2;
  
}
form.form-login .pwd-act {
    display: flow-root;
    width: 100%;
    margin: 15px 0;
}
img.img-login {
    width: 100%;
}
form.form-login p {
    font-size: 16px;
    margin-bottom: 25px;
}
span.back {
    display: block;
    text-align: right;
    padding: 10px 0;
}
span.back a {
    color: #e14143;
    text-decoration: none;
}
body.page-login .copy-agile-right p {
    color: #000000!important;
    background-color: transparent !important;
    border: none !important;
    line-height: 50px;
    font-family: raavi;
}

/*---------------------------------------
  Contact section css             
-----------------------------------------*/
section#contact {
    background: #ffffff;
    padding: 60px 0 100px 0;
}

.contact-heading {
 text-align: left;
 padding-bottom: 50px;
}
.contact-heading h2 {
    font-size: 28px;
    color: #dc3545;
    font-weight: 400;
    letter-spacing: 1px;
    font-family: 'Raleway', sans-serif;
    text-align: left;
    padding: 0;
    margin: 20px 0 15px 0;
    display: block;
}

.contact-info .fa {
  padding-right: 5px;
}

#contact .form-control {
  border: none;
  border-bottom: 2px solid #f0f0f0;
  border-radius: 0px;
  box-shadow: none;
  font-size: 18px;
  margin-top: 10px;
  margin-bottom: 10px;
  -webkit-transition: all ease-in-out 0.4s;
  transition: all ease-in-out 0.4s;
}

#contact .form-control:focus {
  border-bottom-color: #5c00c2;
}

#contact input {
  height: 55px;
}
button#submit.form-control
{
    width: 40%;
}

#contact button#submit {
    background: #dc3545;
    border: none;
    border-radius: 50px;
    color: #ffffff;
    height: 50px;
    margin-top: 24px;
}

#contact button#submit:hover {
  background: #5c00c2;
  color: #ffffff;
}
.section-title h2 {
    font-size: 24px;
    color: #dc3545;
    font-weight: 700;
    font-family: 'Raleway', sans-serif;
    text-align: left;
    padding: 0;
    margin: 0 0 15px 0;
    display: block;
}
.contac-info {
    display: block;
    float: left;
    padding: 30px 15px;
    background: #fafafa;
}
span.a-icon {
    font-size: 32px;
    float: left;
    color: #959595;
    height: 50px;
    width: 50px;
    text-align: center;
    background: #ebebeb;
    border-radius: 5px;
    margin-right: 10px;
}
.col-address {
    display: block;
    float: left;
    padding: 20px 0;
    width: 100%;
    border-bottom: solid 1px #cccc;
}
span.a-content {
    display: block;
    float: left;
    font-size: 18px;
    width: 80%;
}
span.a-content a {
   color: #dc3545;
   font-weight: 500;
}
span.a-content label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 500;
    letter-spacing: 1px;
    color: #000000;
}

/*---------------------------------------
  Contact section css End           
-----------------------------------------*/


/*---------------------------------------
  About section css            
-----------------------------------------*/
.main-s-heading
{
  font-size: 28px;
    color: #dc3545;
    font-weight: 400;
    letter-spacing: 1px;
    font-family: 'Raleway', sans-serif;
    text-align: left;
    padding: 0;
    margin: 20px 0 15px 0;
    display: block;
}
 .wrraper-about  section {
    background: #ffffff;
}
.wrraper-about section {
    background: #ffffff;
    padding: 100px 0 0;
}
  
  .carousel-control.right, .carousel-control.left {
      background-image: none;
      color: #f4511e;
  }
  .carousel-indicators li {
      border-color: #f4511e;
  }
  .carousel-indicators li.active {
      background-color: #f4511e;
  }
  .item h4 {
      font-size: 19px;
      line-height: 1.375em;
      font-weight: 400;
      font-style: italic;
      margin: 70px 0;
  }
  .item span {
      font-style: normal;
  }
  .panel {
      border: 1px solid #e2dfdf; 
      border-radius:0 !important;
      transition: box-shadow 0.5s;
  }
  .panel:hover {
      box-shadow: 5px 0px 40px rgba(0,0,0, .2);
  }
  .panel-footer .btn:hover {
      border: 1px solid #f4511e;
      background-color: #fff !important;
      color: #f4511e;
  }
  .panel-heading {
      color: #28163c !important;
      background-color: #e2dfdf !important;
      padding: 0px;
      border-bottom: 1px solid transparent;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
  }
 div#about {
    padding: 50px 15px 100px 15px;
}
 #about h4 {
    font-size: 22px;
    color: #150f1d;
    font-weight: 400;
    letter-spacing: 1px;
    font-family: 'Raleway', sans-serif;
    text-align: left;
    padding: 0;
    margin: 15px 0;
    display: block;
    line-height: 1.3;
}
 .wrraper-about p {
    margin: 0;
    padding: 0;
    font-size: 16px;
    letter-spacing: 1px;
    font-family: 'Raleway', sans-serif;
}
section#o-value {
    background: #f8f8f8ef;
}

.a-tag-line {
    color: #150f1d  ;
    font-weight: 500 !important;
    margin: 0 0 15px 0 !important;
    font-size: 18px !important;
}
   section#services .main-s-heading {
    text-align: center;
    }
    section#services h5
    {
    font-size: 24px;
    color: #dc3545;
    font-weight: 600;
    letter-spacing: 1px;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    padding: 0;
    margin: 20px 0 15px 0;
    display: block;
    }
    section#services p
    {

       text-align: center;
     
    }
   section#services i {
    text-align: center;
    font-size: 42px;
    color: #5c00c2;
   }
   .section-head {
    text-align: center;
    margin-bottom: 80px;
}
.section-head h2.main-s-heading {
    text-align: center;
 
}
  .slideanim {visibility:hidden;}
  .slide {
      animation-name: slide;
      -webkit-animation-name: slide;
      animation-duration: 1s;
      -webkit-animation-duration: 1s;
      visibility: visible;
  }
.btn:focus, .btn:active, button:focus, button:active {
  outline: none !important;
  box-shadow: none !important;
}

#image-gallery .modal-footer{
  display: block;
}

section#portfolio .col-lg-3.col-md-3.col-xs-6 {
    padding: 0px;
}
section#portfolio .img-thumbnail {
    display: inline-block;
    max-width: 100%;
        height: 317px;
    padding: 0;
    line-height: 1.42857143;
    background-color: #fff;
    border: none;
    border-radius: 0;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}
section#portfolio .thumbnail {
    display: block;
    padding: 0;
    margin-bottom: 0;
    line-height: 1.42857143;
    background-color: #fff;
    border: 0;
    border-radius: 0;
    -webkit-transition: border .2s ease-in-out;
    -o-transition: border .2s ease-in-out;
    transition: border .2s ease-in-out;
}
section#portfolio .modal-body {
    display: block;
    position: relative;
    padding: 15px;
    float: left;
}
section#portfolio .modal-content {
    display: block;
    float: left;
  }

  /*========================================
  section.newsletter css
==========================================*/

section.newsletter {
    background: #e14143;
}
section.newsletter h2 {
    font-family: 'Raleway', sans-serif;
    text-transform: capitalize;
    color: #ffffff;
    font-size: 28px !important;
    font-weight: 300 !important;
}
section.newsletter label {
    color: #ffffff;
    font-weight: 300;
}
section.newsletter #mc_embed_signup #mc-embedded-subscribe-form input.mce_inline_error {
    border: 1px solid #000000;
}
section.newsletter input#mce-EMAIL {
    background: transparent;
    border: solid 2px #ffffff !important;
    border-radius: 0px;
    height: 55px;
    color: #ffffff !important
}
section.newsletter #mc_embed_signup .asterisk {
    color: #ffffff;
    font-size: 150%;
    font-weight: normal;
    position: relative;
    top: 5px;
}
section.newsletter #mc_embed_signup .indicates-required {
    text-align: right;
    font-size: 11px;
    margin-right: 0;
    color: #ffffff;
    width: 82.2222%;
    position: absolute;
}

section.newsletter  #mc_embed_signup .button {
       clear: both;
    background-color: #000;
    border: solid #000000 !important;
    border-radius: 0px;
    font-size: 18px !important;
    height: 55px !important;
    margin: 10px 0 !important;
    padding: 0 30px !important;
   
}
section.newsletter #mc_embed_signup {
    background: transparent;
    clear: left;
    font: 14px Helvetica,Arial,sans-serif;
}

section.newsletter #mc_embed_signup .mc-field-group {
    
    position: relative;
      width: 85.11111%;  
    display: block;
    float: left;
  
}
section.newsletter #mc_embed_signup .clear {
    clear: both;
    width: 15%;
    display: block;
    float: right;
    position: relative;
    top: -99px;
}
section.newsletter #mc_embed_signup #mc-embedded-subscribe-form div.mce_inline_error {
    color: #e14143;
    position: absolute;
}



/*===============end newsletter css=================*/

section.p-policy .main-s-heading {
    text-transform: capitalize;
    }
 section.p-policy p
 {
  font-size: 16px;
 }
  section.p-policy .policy-content {
    padding-bottom: 70px;
}
  section.p-policy  h4.policy-sub-heading {
    background: #e2dfdf;
    padding: 15px 10px;
    margin-bottom: 15px;
}
section.p-policy h4.policy-sub-heading {
    background: #e2dfdf;
    padding: 15px 10px;
    margin-bottom: 15px;
    color: #28163c;
    text-transform: uppercase;
}


/*========================================
   faq css here
==========================================*/
section.section-faq {
    background: #ffffff;
}
.col-head-area {
    margin-bottom: 50px;
}
h4.panel-title a {
    display: block;
    padding: 15px;
}

.col-address.col-smedia ul li span.fa {
    background: #dc3545;
    color: #ffffff;
    text-align: center;
    font-size: 24px;
    height: 40px;
    width: 40px;
    line-height: 40px;
    border-radius: 50px;
}
.col-address.col-smedia ul  {
    padding: 10px 0;
    display: inline-block;
    margin: auto;
}
.col-address.col-smedia ul li {
    padding-right: 10px;
    display: inline-block;
    margin: auto;
}
/*---------------------------------------
  organiser and customer registeration css             
-----------------------------------------*/
section.section-user-register {
    background: #ffffff;
}

section.section-user-register .form-control {
    border: none;
    box-shadow: none;
    background: #efefef;
    height: 60px;
    color: #000000;
    border-radius: 0px;
}
section.section-user-register .form-group {
    margin-bottom: 15px;
    display: block;
    float: left;
    width: 100%;
}
section.section-user-register select.form-control:not([size]):not([multiple]) {
    height: 60px;
    color: #000;
}
#organiser-register .col-head-area {
    margin-bottom: 50px;
    text-align: center;
}
#organiser-register .col-head-area .main-s-heading {
    text-align: center;
  }
section#organiser-register {
    background: #ffffff;
    padding: 60px 0 100px 0;
}

#organiser-register .form-control {
  border: none;
  border-bottom: 2px solid #f0f0f0;
  border-radius: 0px;
  box-shadow: none;
  font-size: 16px;
  background: #f0f0f0;
  margin-top: 10px;
  margin-bottom: 10px;
  -webkit-transition: all ease-in-out 0.4s;
  transition: all ease-in-out 0.4s;
}
#organiser-register .form-control:focus {
  border-bottom-color: #5c00c2;
}

#organiser-register input {
  height: 55px;
}
#organiser-register select.form-control:not([size]):not([multiple]) {
    height: 55px;
    color: #999ca8;
}
button#submit.form-control
{
    width: 40%;
}

#organiser-register button#submit {
    background: #dc3545;
    border: none;
    border-radius: 50px;
    color: #ffffff;
    height: 50px;
    margin-top: 24px;
}
#organiser-register button#submit:hover {
  background: #5c00c2;
  color: #ffffff;
}

.col-md-12.col-sm-12.form-action {
    text-align: center;
    padding: 15px;
}
.form-action .btn {
    border-radius: 50px;
    padding: 10px 50px;
    font-size: 16px;
}
.form-action .btn:hover {
    border-radius: 50px;
    padding: 10px 50px;
    font-size: 16px;
}


.form-gender ul{
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: auto;
  margin-left: -20px;
}

.form-gender ul li{
  color: #AAAAAA;
  display: block;
  position: relative;
  float: left;
 /* width: 100%;
  height: 100px;
  border-bottom: 1px solid #333;*/
}
.form-group.form-gender label.radiodiv {
    display: block;
    font-size: 16px;
    font-weight: 400;
    color: #999999;
}
.form-gender ul li input[type=radio]{
  position: absolute;
  visibility: hidden;
}

.form-gender ul li label{
 display: block;
    position: relative;
    font-weight: 400;
    font-size: 1.35em;
    padding: 20px 30px 30px 60px;
    margin: 10px auto;
  height: 30px;
  z-index: 9;
  cursor: pointer;
  -webkit-transition: all 0.25s linear;
}

.form-gender ul li .check{
  display: block;
  position: absolute;
     border: 2px solid #AAAAAA;
  border-radius: 100%;
  height: 25px;
  width: 25px;
  top: 30px;
  left: 20px;
  z-index: 5;
  transition: border .25s linear;
  -webkit-transition: border .25s linear;
}


.form-gender ul li .check::before {
  display: block;
  position: absolute;
  content: '';
  border-radius: 100%;
  height: 15px;
  width: 15px;
  top: 3px;
    left: 3px;
  margin: auto;
  transition: background 0.25s linear;
  -webkit-transition: background 0.25s linear;
}

.form-gender input[type=radio]:checked ~ .check {
  border: 2px solid #d43f3a;
}

.form-gender input[type=radio]:checked ~ .check::before{
  background: #d43f3a;
}

.form-gender input[type=radio]:checked ~ label{
  color: #dc354a;
}
/*------------END css -----------*/

/*---------------------------------------
  page checkout css             
-----------------------------------------*/
section.section-checkout {
    background: #ffffff;
}
body.page-checkout .header-outs {
    min-height: 140px;
}
body.page-checkout .banner-slide-img {
    padding-top: 0;
}
.table-responsive.pricing-table 
{
  font-family: 'Roboto', sans-serif;
}
.table-responsive.pricing-table  th.e-name {
    font-size: 18px !important;
    font-weight: 400;
    color: #dd4649 !important;
}
.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th {
    color: #040000;
    border-top: none !important;
    font-size: 16px;
    font-weight: 500;

}
.table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td {
    color: #040000;
    border-top: none !important;
    font-size: 14px;
   
}
body.page-checkout .table-bordered > thead > tr > th, body.page-checkout .table-bordered > tbody > tr > th, 
body.page-checkout .table-bordered > tfoot > tr > th, body.page-checkout .table-bordered > thead > tr > td, 
body.page-checkout .table-bordered > tbody > tr > td, body.page-checkout .table-bordered > tfoot > tr > td 
{
    border-bottom: 1px solid #ddd !important;
    border:1px solid transparent;
        padding: 7px!important;
}
.table>tfoot>tr>th
{
    text-align: right;
}
h4.sub-heading {
    background: #e2dfdf;
    padding: 15px 10px;
    margin-bottom: 15px;
    color: #28163c;
    text-transform: uppercase;
}
body.page-checkout h4.sub-heading {
    background: #dd4649;
    color: #ffffff;
   
}
.row.row-promo .input-group {
    width: 50%;
    margin: 0 auto;
    padding: 50px 0;
}
.row.row-promo .input-group .form-control {
    border: none;
    box-shadow: none;
    background: #efefef;
    height: 55px;
    color: #000000;
    border-radius: 0px;
}
.row.row-promo .input-group-btn .btn {
    color: #ffffff;
    background-color: #dd4649;
    border-radius: 0px;
    letter-spacing: 1px;
    height: 55px;
    padding: 10px 30px;
} 
.row.row-promo .card {
   
}
.row.row-promo {
 
    text-align: center;
    font-size: 16px;
}
.col-pay-now {
    text-align: right;
}
.col-pay-now .btn {
    padding: 10px 40px;
    font-weight: 500;
    letter-spacing: 1px;
}

.row.row-promo .input-group {
    width: 100%;
    margin: 0 auto;
    padding: 50px 0;
}
@media (max-width: 736px)
{
  .row.row-promo .input-group {
    width: 100%;
    margin: 0 auto;
    padding: 50px 0;
}
}
/*----------End checkout css--------------*/

/*==========================================
              adwance-search                
===========================================*/

.col-adwance-search {
    width: 100%;
    margin: 0 auto;
    padding: 10px 0;
}
a.btn.btn-primary.btn-as {
    display: block;
    text-align: center;
    font-size: 16px;
}
a.btn.btn-primary.btn-as i {
 
    font-size: 18px;
}
.col-adwance-search .well {
    background: #ffffff;
    border-radius: 0px;
    float: left;
    width: 100%;
}
.col-adwance-search .form-control, .col-adwance-search select.form-control#category {
    border: none;
    box-shadow: none;
    background: #efefef;
    height: 50px;
    color: #000000;
    border-radius: 0px;
}
.col-adwance-search .datepicker-days {
    font-family: 'Roboto', sans-serif !important;
}
.datepicker-days table.table-condensed {
  font-family: 'Roboto', sans-serif !important;
}
.col-adwance-search .datepicker table tr td.active:active, .datepicker table tr td.active.highlighted:active, .datepicker table tr td.active.active, .datepicker table tr td.active.highlighted.active {
    color: #fff;
    background-color: #dd4649 !important;
    border-color: #dd4649 !important;
    border-radius: 50px !important;
}
.col-adwance-search .datepicker .datepicker-switch, .datepicker .prev, .datepicker .next, .datepicker tfoot tr th {
    cursor: pointer;
    background: #dc3545 !important;
    border-radius: 0 !important;
    color: #ffffff;
}
.col-adwance-search .datepicker table tr td, .datepicker table tr th {
    text-align: center;
    width: 30px;
    height: 30px;
    border-radius: 50px;
    border: none;
}
.col-adwance-search .datepicker.datepicker-dropdown.dropdown-menu.datepicker-orient-left.datepicker-orient-top {
    max-width: 280px !important;
    width: 100%;
}
.col-adwance-search .datepicker.datepicker-dropdown table.table-condensed {
    width: 100%;
    display: inline-table;
}

@media(max-width: 736px)
{
  section.section-m-event {
    background: #ffffff;
    padding: 50px 0;
    text-align: center !important;
}
  section.section-m-event .bt {
    margin-top: 30px;
    display: block;
    float: left;
    text-align: center;
    width: 100%;
}
.imaa {
    width: 100%;
    float: left;
    padding-bottom: 20px;
    padding-top: 20px;
}
.imagg {
    width: 100%;
    float: left;
    margin: auto auto;
}
.imagg h5 {
    font-size: 22px;
    color: #dc3545;
    font-weight: 400;
    letter-spacing: 1px;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    padding: 0;
}
.sellm {
    float: left;
    text-align: center;
    background-image: url(../images/sell.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    margin: 0 auto;
    height: 200px;
    width: 100%;
}
.sellms {
    float: left;
    text-align: center;
    background-image: url(../images/create.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 200px;
    margin: 0 auto;
    width: 100%;
}
.sellmss {
    float: left;
    text-align: center;
    background-image: url(../images/manage.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 200px;
    margin: 0 auto;
    width: 100%;
}
footer .col-md-3.anus {
    display: block;
    width: 100%;
    text-align: center;
    float: left;
}
footer .anus ul {
    text-align: center;
    list-style: none;
    line-height: 30px;
    font-size: 16px;
    color: white;
}
/*.logos {
    width: 100%;
    float: left;
    display: block !important;
    text-align: right;
    padding: 10px 0;
    position: absolute;
}*/
li.dropdown.dropdown-cart .dropdown-menu {
    position: absolute;
    top: 100%;
    left: -330px;
    right: -16px;
    padding: 10px 10px;
    width: 400px;
    min-width: 100%;
}
li.dropdown.dropdown-cart .dropdown-menu li  table {
    width: 100%;
    display: block;
    float: left;
    overflow: scroll;
}
}
a#mycart.btn.btn-primary {
    background: #4CAF50;
    border-color: #4CAF50;
}
a#mycart.btn.btn-primary:hover {
    background: #e14143;
    border-color: #e14143;
}

section.section-checkout .col-xs-12 form .stripe-button-el span {
    display: block;
    position: relative;
    padding: 10px 42px;
    height: 50px;
    line-height: 30px;
    background: #e14143;
    background-image: none !important;
    font-size: 16px;
    color: #fff;
    font-weight: 500;
  font-family: 'Raleway', sans-serif;
    text-shadow: none !important;
    box-shadow: none;
    border-radius: 0;
    min-height: auto !important;
}
section.section-checkout .col-xs-12 form .stripe-button-el {
    overflow: hidden;
    display: inline-block;
    visibility: visible !important;
    background-image: none !important;
    -webkit-font-smoothing: antialiased;
    border: 0;
    padding: 1px;
    text-decoration: none;
    border-radius: 0px;
    box-shadow: none !important;
    user-select: none;
    cursor: pointer;
}
section.section-checkout .Modal-animationWrapper .Checkout.is-desktop .Button {
    position: relative;
    border-radius: 4px;
    background-color: #e14143 !important;
    }

/*===responsive css strat here============*/

@media (max-width:1366px)
{
  li.dropdown.dropdown-cart .dropdown-menu {
    position: absolute;
    top: 100%;
    left: -395px;
    padding: 10px 10px;
    min-width: 490px;
}

section.section-overview {
  font-family: 'Roboto', sans-serif;
  background: #ffffff;
}
.col-oview {
  margin-top: 24px;
}
.o-head {
  border-bottom: solid 1px #cccc;
      margin-bottom: 15px;
 
}
.o-head h5 {
  font-size: 18px;
  color: #e14143;
   padding-bottom: 10px;

  
}
section.section-overview h4 {
  font-size: 22px;
  font-weight: 300;
  padding-bottom: 10px;
}
.o-body {
  background: #fbfbfb;
  padding: 15px;
}
td.date-cell nobr {
    width: 240px;
    display: block;
    white-space: initial;
}
}
@media(max-width:1200px)
{
.price {
    font-family: 'Roboto', sans-serif;
    float: right;
    text-align: center;
    font-size: 14px;
  }
}
@media(max-width:991px)
{
  form#eventsearch {
    width: 70%;
    margin: 0 auto;
}
  .hedder-up {
    width: 20%;
    float: left;
    position: absolute;
        z-index: 99999999;
}
.seventyper {
    width: 100%!important;
    float: left;
    position: relative;
}
  .logos {
    width: 100%;
    float: left;
    display: block;
    text-align: right;
    padding: 5px 0;
   
}
.navbar-light .navbar-toggler {
    background-image: url(../images/menu.png);
    height: 50px;
    width: 50px;
    background-size: cover;
    border-radius: 50px;
}
.navbar-light .navbar-toggler:hover {
     background-image: url(../images/menu.png) !important;
    background: transparent;
    background-size: cover;
}
.col-full, .col-full-1 {
    display: block;
    width: 100%;
    float: left;
}
.col-full-1 .col-md-4.sellk {
    float: right;
}
.sellm, .sellms, .sellmss
{
   top: 15px !important;
}
.row.second {
    padding: 0 15px;
}
  .title {
    font-size: 28px !important;
}
section.section-m-event {
    background: #ffffff;
    padding: 50px 0;
}
.bt {
    text-align: center;
    margin-top: 30px;
    display: block !important;
    float: left !important;
    width: 100% !important;
}
.col-md-4.sellk, .col-md-4.sellm, .col-md-4.sellms, .col-md-4.sellmss
{
      width: 50%;
    float: left;
    margin: 0 !important;
    padding: 0 !important;
}
.ros {
    width: 0;
    }
    .bord, .bords
    {
      display: none !important;  
    }
    section.newsletter #mc_embed_signup .mc-field-group {
    position: relative;
    width: 78%;
  }
    section.newsletter #mc_embed_signup .clear {
    clear: both;
    width: 23%;
    top: -87px;
}
footer .col-md-12 {
    display: block;
    width: 100%;
    float: left;
}
.col-md-3.anus {
    width: 25%;
}
.anus ul li {
       display: block;
    text-align: left;
}

}
@media(max-width:768px)
{
  form#eventsearch {
    width: 85%;
    margin: 0 auto;
}
  .hedder-up {
    width: 20%;
    float: left;
    position: absolute;
}
.seventyper {
    width: 100%!important;
    float: left;
    position: relative;
}
div#navbarSupportedContent {
    background: transparent;
    text-align: center;
    padding: 13px 0px;
    width: 100%;
    float: right;
}
  img.imglogo {
    width: 95px;
    height: auto;
}
  .logos {
    width: 100%;
    float: left;
    display: block;
    text-align: right;
    padding: 5px 0;
   
}
.imglogo1 {
  
    display: none !important;
}
.navbar-light .navbar-toggler {
    background-image: url(../images/menu.png);
    height: 50px;
    width: 50px;
    background-size: cover;
    border-radius: 50px;
}
.navbar-light .navbar-toggler:hover {
     background-image: url(../images/menu.png) !important;
    background: transparent;
    background-size: cover;
}
.row.second {
    padding: 0 15px;
}
  .title {
    font-size: 28px !important;
}
section.section-m-event {
    background: #ffffff;
    padding: 50px 0;
}
.bt {
    text-align: center;
    margin-top: 30px;
    display: block !important;
    float: left !important;
    width: 100% !important;
}
.col-md-4.sellk, .col-md-4.sellm, .col-md-4.sellms, .col-md-4.sellmss
{
      width: 50%;
    float: left;
    margin: 0 !important;
    padding: 0 !important;
}
.ros {
    width: 0;
    }
    .bord, .bords
    {
      display: none !important;  
    }
    section.newsletter #mc_embed_signup .mc-field-group {
    position: relative;
    width: 78%;
  }
    section.newsletter #mc_embed_signup .clear {
    clear: both;
    width: 23%;
    top: -87px;
}
footer .col-md-12 {
    display: block;
    width: 100%;
    float: left;
}
.col-md-3.anus {
    width: 25%;
}
.anus ul li {
       display: block;
    text-align: left;
}

}
@media(max-width:767px)
{
div#navbarSupportedContent {
    background: #181132;
    }
    ul.navbar-nav li {
    display: block;
    padding: 4px 0;
}
  }
@media(max-width:736px)
{
  img.img-login {
    width: 40%;
    display: block;
    margin: auto;
}
  .header-w3layouts {
     background: #00000054;
}
.tgl {
  
    margin-top: 5px;
}
.logos {
    width: 100%;
    float: left;
    display: block !important;
    text-align: right;
    padding: 10px 0;
    position: relative;
}
.imglogo1 {
       height: auto !important;
    width: 75px !important;
    }
  .col-md-4.sellk, .col-md-4.sellm, .col-md-4.sellms, .col-md-4.sellmss {
    width: 100%;
    float: left;
    margin: 0 !important;
    padding: 0 15px !important;
}
section.newsletter #mc_embed_signup .clear {
    clear: both;
    width: 100%;
    display: block;
    float: right;
    position: initial;
    top: 0;
}
section.newsletter #mc_embed_signup .mc-field-group {
    position: relative;
    width: 97%;
  }
  section.newsletter #mc_embed_signup .button {
    width:97%;
  }
  .anus ul li {
    display: block;
    text-align: center;
}
}
@media (max-width: 585px)
{
section.event-area .event-detail .category-overlay {

    width: 140px;
 
}
}
@media (max-width: 568px)
{
.banner-slide-img {
    padding-top: 15em;
}
section.event-area .event-detail span.card-title {
    font-size: 18px;
    margin-bottom: 10px;
    font-weight: 600;
    display: block;
}
section.event-area .event-detail span.l-con {
    display: block;
    float: left;
    font-size: 22px;
    margin-right: 15px;
    line-height: 1.5;
}
section.event-area .event-detail {
    float: none;
    padding: 30px;
    padding-right: 0;
    width: 100%;
    border: none;
    background: #5c00c280;
    position: relative;
    top: 153px;
}
.table#tickets {
    width: 100% !important;
    padding: 0 0px !important;
    display: grid;
    overflow: scroll;
}
button#submit.form-control {
    width: 100%;
}
}

@media (max-width: 414px)
{
img.imglogo {
    width: 60px;
    height: auto;
}
section.event-area .event-detail .venue-details label {
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 900;
}
table#tickets>tbody>tr>td {
    padding: 8px 4px !important;
}
.table#tickets {
    width: 100% !important;
    padding: 0 0px !important;
    display: grid;
}
.title {
    font-size: 22px !important;
    margin: 10px 0;
}
.imagg h5 {
    font-size: 18px;
    color: #dc3545;
    font-weight: 700;
    }
    section.newsletter h2 {
    font-family: 'Raleway', sans-serif;
    text-transform: capitalize;
    color: #ffffff;
    font-size: 22px !important;
    font-weight: 300 !important;
    text-align: center;
}


div#carousel-featured-event .card-image img {
    width: 100%;
    height: 450px;
}

               /*cart dropdown css here*/
li.dropdown.dropdown-cart .dropdown-menu {
  font-family: 'Roboto', sans-serif;
    position: absolute;
    top: 100%;
    left: -200px;
    padding: 10px 10px;
    min-width: 580px;
  }
  li.c_head label {
    font-weight: 400;
    font-size: 18px;
    margin: 0px;
    color: #dd4649;
}

.item-name
{
    width: 45%;
    display: block;
}
.item-quantity
 {
    width: 30%;
    display: block;
    padding:0 10px;
}
.item-price
 {
    width: 15%;
    display: block;
    padding:0 10px;
}
.item-action
{
   width: 10%;
    display: block;
  
}
.item-name span.e-media
 {
    width: 30%;
    display: block;
    float: left;
    margin-right:10px;
}
.item-name span.e-media img {
    width: 100%;
}
.item-name label, .item-quantity label, .item-price label, .item-action label {
 /*   border-bottom: solid 1px #f1eeee;
    padding-bottom: 10px;
    margin-bottom: 10px;*/
}
.item-name label, .item-quantity label, .item-price label, .item-price span {
    width: 100%;
    display: block;
}
.item-action a {
    margin: 0px !important;
}
a.btn.btn-primary.btn-block {
    text-align: center;
    padding: 7px 10px;
}
a.btn.btn-primary.btn-block i {
  margin:0px !important;
  padding:0px;
}
li.dropdown.dropdown-cart ul.dropdown-menu li {
    display: -webkit-box;
}
li.dropdown.dropdown-cart ul.dropdown-menu li.item-list {
    border-bottom: solid 1px #f1eeee;
    padding-bottom: 10px;
    margin-bottom: 10px;
}
li.c_head {
    padding: 15px 15px;
    background: #f1eeee;
    margin-bottom: 20px;
}
li.item-list span.total-price {
    display: block;
    text-align: right;
    width: 100%;
}
li.item-checkout a {
    margin: 0px;
    width: 100%;
}
.owl-carousel.owl-drag .owl-item {
    width: 380px !important;
    margin-right: 15px !important;
    }
    .owl-item img {
    width: 100%;
    height: 170px;
}
}
@media (max-width: 375px)
{
.owl-carousel.owl-drag .owl-item {
    width: 340px !important;
    margin-right: 15px !important;
}
}
@media (max-width: 320px)
{
.hedder-up {
    width: 20%;
    float: left;
    position: absolute;
    top: 47px;
}
.owl-carousel.owl-drag .owl-item {
    width: 285px !important;
    margin-right: 15px !important;
}

}
/**************cart css****************/
li.item-list.item-head {
    text-align: left;
    background: #ececec;
    padding: 10px 4px;
}

li.item-list.item-head label {
    margin-bottom: 0px;
} 

ul#cartbody li .item-name {
    width: 45%;
}

ul#cartbody li .item-quantity, ul#cartbody li .item-price, ul#cartbody li .item-action {
    display: block;
    width: 18.3333%;
    text-align: center;
}

ul#cartbody li .item-quantity .input-group {
    width: 100%;
}

ul#cartbody li.item-list span.total-price {
    text-align: right;
    display: block;
    width: 100%;
}
li.item-list {    border-top: solid 1px #cccccc;    padding: 12px 0;}