.tim-typo {
  padding-left: 25%;
  margin-bottom: 40px;
  position: relative;
  width: 100%;
}

.tim-typo .tim-note {
  bottom: 5px;
  color: #c0c1c2;
  display: block;
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  left: 0;
  margin-left: 20px;
  position: absolute;
  width: 260px;
}

/* offline-doc */

.offline-doc .navbar.navbar-transparent {
  padding-top: 25px;
  border-bottom: none;
}

.offline-doc .navbar.navbar-transparent .navbar-minimize {
  display: none;
}

.offline-doc .navbar.navbar-transparent .navbar-brand,
.offline-doc .navbar.navbar-transparent .collapse .navbar-nav .nav-link {
  color: #FFFFFF !important;
}

.offline-doc .footer {
  z-index: 3 !important;
}

.offline-doc .page-header .container {
  z-index: 3;
}

.offline-doc .page-header:after {
  background-color: rgba(0, 0, 0, 0.5);
  content: "";
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 2;
}

#map {
  z-index: 2;
  height: calc(100vh - 70px);
  margin-top: 70px;
}
.sidebar .logo .main-logo {
    text-transform: uppercase;
    padding: 5px 0px;
    display: inline-block;
    font-size: 18px;
    color: #3C4858;
    white-space: nowrap;
    font-weight: 400;
    line-height: 30px;
    overflow: hidden;
    text-align: center;
    display: block;
}
.sidebar .logo .main-logo img {
    width: 100%;
    padding: 0 15px;
}

/*============================================
        Page Event Css
=============================================*/
.dropup, .dropdown.d-action {
    position: absolute;
        margin-top: -12px;
}
a.btn-act {
    box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(156, 39, 176, 0.4);
    background: #972fb0;
    padding: 10px 20px;
    color: #ffffff;
    font-size: 18px;
    border-radius: 4px;
}
.dropdown.d-action a.dropdown-item i {
    font-size: 16px;
    padding-right: 15px;
}
.dropdown.d-action label {
    display: block;
    background: #f3f1f1;
    padding: 10px 15px;
    color: #962eaf;
    font-size: 15px;
    letter-spacing: 1px;
    margin: 0px;
}
a.btn.btn-primary {
    color: #ffffff;
    font-size: 15px;
    letter-spacing: 1px;
}
a.btn.btn-primary:hover {
    color: #ffffff;
    font-size: 15px;
    letter-spacing: 1px;
}

.table-search.searchbar input#s {
    height: 50px;
}

.group-user-img img{
  max-width:180px;
}
label.bmd-label-floating {
    display: block !important;
}
.col-featured-img img#blah {
    width: 220px;
    max-width: 250px !important;
}
.card-body .table-responsive
 {  display: block;
    width: 100%;
    overflow-x: inherit !important;
    }
/*===========End Event Css===============*/
@media (max-width: 1366px)
{
  .sidebar .nav li a,
  .sidebar .nav li .dropdown-menu a {
    padding: 5px 15px !important; 
  }
}

/*========================================
   faq css here
==========================================*/
section.section-faq {
    background: #ffffff;
}
.col-head-area {
    margin-bottom: 50px;
}
h4.panel-title a {
    display: block;
    padding: 15px;
}
.panel-heading {
    color: #28163c !important;
    background-color: #e2dfdf !important;
    padding: 0px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}
.panel-title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 16px;
    color: inherit;
}
.panel {
    border: 1px solid #e2dfdf;
    border-radius: 0 !important;
    transition: box-shadow 0.5s;
}.panel-group .panel-heading + .panel-collapse > .panel-body, .panel-group .panel-heading + .panel-collapse > .list-group {
    border-top: 1px solid #ddd;
        border-top-color: rgb(221, 221, 221);
}